In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [5]:
goalies=pd.read_csv('goalie_data.csv')
skater=pd.read_csv('skater_data.csv')
nba=pd.read_csv('nba_season_data.csv')

In [6]:
hart = pd.read_csv('hart_trophy_winners.csv')
mvp = pd.read_csv('nba_mvps.csv')

In [7]:
hart.index

RangeIndex(start=0, stop=95, step=1)

In [8]:
hart.head()

   Unnamed: 0           Player Team  Season
0           0  Nikita Kucherov  TBL    2019
1           1      Taylor Hall  NJD    2018
2           2   Connor McDavid  EDM    2017
3           3     Patrick Kane  CHI    2016
4           4      Carey Price  MTL    2015

In [9]:
hart.reset_index(inplace=True)

In [10]:
hart.drop(['index','Unnamed: 0'],axis=1,inplace=True)

In [11]:
skater.reset_index(inplace=True)

In [12]:
skater.tail()

,index,Unnamed: 0,name,age,team,pos,gp,goals,assists,points,...,toi,toi_avg,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,season,shot_pct,gpg
38892,38892,37820,Gordie Drillon*,26.0,TOR,RW,43,21.0,19.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940,NaN,0.4884
38893,38893,37821,Bill Cowley*,27.0,BOS,C,48,13.0,27.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940,NaN,0.2708
38894,38894,37822,Woody Dumart*,23.0,BOS,LW,48,22.0,21.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940,NaN,0.4583
38895,38895,37823,Bobby Bauer*,24.0,BOS,RW,48,17.0,26.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940,NaN,0.3542
38896,38896,37824,Milt Schmidt*,21.0,BOS,C,48,22.0,30.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940,NaN,0.4583

In [13]:
skater.drop(['index','Unnamed: 0'],axis=1,inplace=True)

In [14]:
hart.head()

            Player Team  Season
0  Nikita Kucherov  TBL    2019
1      Taylor Hall  NJD    2018
2   Connor McDavid  EDM    2017
3     Patrick Kane  CHI    2016
4      Carey Price  MTL    2015

In [15]:
hart_dict={}
for i in range(len(hart)):
    hart_dict[hart.Season[i]]=hart.Team[i]

In [16]:
list(hart_dict.keys())[0:5]

[2019, 2018, 2017, 2016, 2015]

In [17]:
list(hart_dict.values())[0:5]

['TBL', 'NJD', 'EDM', 'CHI', 'MTL']

In [18]:
2019 in list(hart_dict.keys())[0:5]

True

In [19]:
'TBL' in list(hart_dict.values())[0:5]

True

In [20]:
list(hart_dict.items())[0][0]

2019

In [21]:
list(hart_dict.items())[0][1]

'TBL'

In [22]:
skater[(skater.season==2019)&(skater.team=='TBL')|(skater.season==2018)&(skater.team=='TBL')]

,name,age,team,pos,gp,goals,assists,points,plusmin,plm,...,toi,toi_avg,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,season,shot_pct,gpg
134,Ryan Callahan,33.0,TBL,RW,52,7.0,10.0,17.0,7,14,...,579,668,89.0,6.0,15.0,25.0,0.286,2019,0.09210526315789473,0.134615
157,Erik Cernak,21.0,TBL,D,58,5.0,11.0,16.0,25,58,...,1117,1155,198.0,0.0,0.0,79.0,NaN,2019,0.04672897196261682,0.086207
169,Anthony Cirelli,21.0,TBL,C,82,19.0,20.0,39.0,25,34,...,1217,891,94.0,502.0,449.0,49.0,0.528,2019,0.15447154471544716,0.231707
176,Braydon Coburn,33.0,TBL,D,74,4.0,19.0,23.0,4,34,...,1192,967,96.0,0.0,0.0,62.0,NaN,2019,0.035398230088495575,0.054054
185,Cory Conacher,29.0,TBL,LW,1,0.0,0.0,0.0,0,2,...,9,515,0.0,0.0,0.0,0.0,NaN,2019,0.0,0.000000
287,Adam Erne,23.0,TBL,LW,65,7.0,13.0,20.0,10,40,...,686,633,159.0,11.0,12.0,26.0,0.478,2019,0.1,0.107692
340,Cameron Gaunce,28.0,TBL,D,2,0.0,0.0,0.0,3,7,...,31,940,4.0,0.0,0.0,1.0,NaN,2019,0.0,0.000000
353,Dan Girardi,34.0,TBL,D,62,4.0,12.0,16.0,6,12,...,1104,1068,151.0,0.0,0.0,108.0,NaN,2019,0.05333333333333334,0.064516
364,Yanni Gourde,27.0,TBL,C,80,22.0,26.0,48.0,9,66,...,1267,950,83.0,151.0,132.0,30.0,0.534,2019,0.16923076923076924,0.275000
426,Victor Hedman,28.0,TBL,D,70,12.0,42.0,54.0,24,44,...,1594,1366,59.0,0.0,1.0,97.0,0.000,2019,0.06593406593406594,0.171429
485,Tyler Johnson,28.0,TBL,C,80,29.0,18.0,47.0,15,28,...,1276,957,50.0,230.0,243.0,32.0,0.486,2019,0.17791411042944785,0.362500
492,Mathieu Joseph,21.0,TBL,RW,70,13.0,13.0,26.0,5,26,...,795,682,129.0,10.0,24.0,14.0,0.294,2019,0.1368421052631579,0.185714
519,Alex Killorn,29.0,TBL,C,82,18.0,22.0,40.0,22,45,...,1220,892,88.0,2.0,8.0,23.0,0.200,2019,0.11764705882352941,0.219512
527,Slater Koekkoek,24.0,TBL,D,9,1.0,0.0,1.0,0,4,...,129,860,8.0,0.0,0.0,12.0,NaN,2019,0.06666666666666667,0.111111
540,Nikita Kucherov,25.0,TBL,RW,82,41.0,87.0,128.0,24,62,...,1637,1198,44.0,0.0,3.0,31.0,0.000,2019,0.16666666666666666,0.500000
639,Danick Martel,24.0,TBL,LW,9,0.0,2.0,2.0,3,8,...,92,611,12.0,1.0,1.0,1.0,0.500,2019,0.0,0.000000
655,Ryan McDonagh,29.0,TBL,D,82,9.0,37.0,46.0,38,34,...,1811,1325,98.0,0.0,0.0,161.0,NaN,2019,0.0703125,0.109756
678,J.T. Miller,25.0,TBL,C,75,13.0,34.0,47.0,8,30,...,1100,880,115.0,259.0,265.0,23.0,0.494,2019,0.12037037037037036,0.173333
750,Ondrej Palat,27.0,TBL,LW,64,8.0,26.0,34.0,4,20,...,953,893,104.0,2.0,15.0,34.0,0.118,2019,0.08,0.125000
754,Cedric Paquette,25.0,TBL,C,80,13.0,4.0,17.0,7,80,...,960,720,269.0,404.0,364.0,61.0,0.526,2019,0.14942528735632185,0.162500
797,Brayden Point,22.0,TBL,C,79,41.0,51.0,92.0,27,28,...,1495,1135,31.0,435.0,421.0,43.0,0.508,2019,0.21465968586387435,0.518987
854,Jan Rutta,28.0,TBL,D,14,0.0,2.0,2.0,4,4,...,202,866,6.0,0.0,0.0,9.0,NaN,2019,0.0,0.000000
893,Mikhail Sergachev,20.0,TBL,D,75,6.0,26.0,32.0,12,28,...,1344,1075,97.0,1.0,1.0,93.0,0.500,2019,0.046875,0.080000
944,Steven Stamkos,28.0,TBL,C,82,45.0,53.0,98.0,4,37,...,1501,1098,72.0,506.0,447.0,40.0,0.531,2019,0.19230769230769232,0.548780
958,Anton Stralman,32.0,TBL,D,47,2.0,15.0,17.0,12,8,...,965,1231,59.0,0.0,0.0,71.0,NaN,2019,0.03508771929824561,0.042553
9946,Michael Bournival,25.0,TBL,LW,5,0.0,0.0,0.0,0,0,...,47,561,8.0,0.0,0.0,NaN,NaN,2018,0.0,0.000000
9980,Ryan Callahan,32.0,TBL,RW,67,5.0,13.0,18.0,-4,29,...,893,799,138.0,27.0,39.0,NaN,0.409,2018,0.04807692307692308,0.074627
10008,Anthony Cirelli,20.0,TBL,C,18,5.0,6.0,11.0,11,6,...,238,794,17.0,96.0,118.0,NaN,0.449,2018,0.19230769230769232,0.277778
10014,Braydon Coburn,32.0,TBL,D,72,1.0,14.0,15.0,3,40,...,1154,961,77.0,0.0,0.0,NaN,NaN,2018,0.0136986301369863,0.013889
10020,Cory Conacher,28.0,TBL,LW,36,8.0,4.0,12.0,0,24,...,360,600,32.0,4.0,12.0,NaN,0.250,2018,0.17777777777777778,0.222222
10069,Jake Dotchin,23.0,TBL,D,48,3.0,8.0,11.0,17,38,...,791,989,95.0,0.0,0.0,NaN,NaN,2018,0.0625,0.062500
10079,Gabriel Dumont,27.0,TBL,C,30,1.0,1.0,2.0,1,6,...,271,543,62.0,41.0,62.0,NaN,0.398,2018,0.02631578947368421,0.033333
10106,Adam Erne,22.0,TBL,LW,23,3.0,1.0,4.0,-1,11,...,233,607,37.0,5.0,3.0,NaN,0.625,2018,0.10344827586206896,0.130435
10159,Dan Girardi,33.0,TBL,D,77,6.0,12.0,18.0,18,27,...,1339,1043,133.0,0.0,1.0,NaN,0.000,2018,0.06451612903225806,0.077922
10170,Yanni Gourde,26.0,TBL,C,82,25.0,39.0,64.0,34,50,...,1325,969,57.0,158.0,206.0,NaN,0.434,2018,0.18382352941176472,0.304878
10216,Victor Hedman,27.0,TBL,D,77,17.0,46.0,63.0,32,54,...,1991,1551,139.0,1.0,1.0,NaN,0.500,2018,0.0787037037037037,0.220779
10266,Tyler Johnson,27.0,TBL,C,81,21.0,29.0,50.0,3,24,...,1376,1020,48.0,360.0,359.0,NaN,0.501,2018,0.11290322580645161,0.259259
10301,Alex Killorn,28.0,TBL,C,82,15.0,32.0,47.0,22,45,...,1353,990,82.0,22.0,33.0,NaN,0.400,2018,0.09615384615384616,0.182927
10306,Slater Koekkoek,23.0,TBL,D,35,4.0,4.0,8.0,4,18,...,393,674,36.0,0.0,0.0,NaN,NaN,2018,0.09302325581395349,0.114286
10317,Nikita Kucherov,24.0,TBL,RW,80,39.0,61.0,100.0,15,42,...,1586,1189,31.0,3.0,2.0,NaN,0.600,2018,0.13978494623655913,0.487500
10324,Chris Kunitz,38.0,TBL,LW,82,13.0,16.0,29.0,8,35,...,980,717,131.0,7.0,12.0,NaN,0.368,2018,0.16049382716049382,0.158537
10404,Ryan McDonagh,28.0,TBL,D,63,4.0,25.0,29.0,8,20,...,1470,1400,71.0,0.0,0.0,NaN,NaN,2018,0.04040404040404041,0.063492
10424,J.T. Miller,24.0,TBL,C,82,23.0,35.0,58.0,-4,40,...,1396,1021,124.0,437.0,368.0,NaN,0.543,2018,0.16083916083916083,0.280488
10492,Ondrej Palat,26.0,TBL,LW,56,11.0,24.0,35.0,16,6,...,952,1020,80.0,7.0,24.0,NaN,0.226,2018,0.10091743119266056,0.196429
10496,Cedric Paquette,24.0,TBL,C,56,5.0,4.0,9.0,-5,41,...,572,612,112.0,234.0,265.0,NaN,0.469,2018,0.078125,0.089286
10505,Matthew Peca,24.0,TBL,C,10,2.0,3.0,5.0,6,0,...,137,820,11.0,78.0,59.0,NaN,0.569,2018,0.11764705882352941,0.200000
10524,Brayden Point,21.0,TBL,C,82,32.0,34.0,66.0,18,24,...,1609,1177,26.0,557.0,617.0,NaN,0.474,2018,0.14746543778801843,0.390244
10610,Mikhail Sergachev,19.0,TBL,D,79,9.0,31.0,40.0,11,38,...,1213,922,90.0,0.0,0.0,NaN,NaN,2018,0.06382978723404255,0.113924
10654,Steven Stamkos,27.0,TBL,C,78,27.0,59.0,86.0,18,72,...,1464,1126,61.0,466.0,426.0,NaN,0.522,2018,0.12735849056603774,0.346154
10664,Anton Stralman,31.0,TBL,D,80,4.0,14.0,18.0,29,18,...,1719,1289,104.0,0.0,0.0,NaN,NaN,2018,0.030534351145038167,0.050000
10670,Andrej Sustr,27.0,TBL,D,44,2.0,5.0,7.0,-5,18,...,565,770,9.0,0.0,0.0,NaN,NaN,2018,0.044444444444444446,0.045455

In [23]:
hart_lst=[]
for season in list(hart_dict.keys()):
    hart_lst.append(f"(skater.season=={season})&(skater.team=='{hart_dict[season]}')|")

In [24]:
hart_lst[0:10]

["(skater.season==2019)&(skater.team=='TBL')|",
 "(skater.season==2018)&(skater.team=='NJD')|",
 "(skater.season==2017)&(skater.team=='EDM')|",
 "(skater.season==2016)&(skater.team=='CHI')|",
 "(skater.season==2015)&(skater.team=='MTL')|",
 "(skater.season==2014)&(skater.team=='PIT')|",
 "(skater.season==2013)&(skater.team=='WSH')|",
 "(skater.season==2012)&(skater.team=='PIT')|",
 "(skater.season==2011)&(skater.team=='ANA')|",
 "(skater.season==2010)&(skater.team=='VAN')|"]

In [25]:
len(hart_lst)

95

## this was hard to automate - very frustrating to write

In [26]:
hart_df=skater[(skater.season==2019)&(skater.team=='TBL')|
(skater.season==2018)&(skater.team=='NJD')|
(skater.season==2017)&(skater.team=='EDM')|
(skater.season==2016)&(skater.team=='CHI')|
(skater.season==2015)&(skater.team=='MTL')|
(skater.season==2014)&(skater.team=='PIT')|
(skater.season==2013)&(skater.team=='WSH')|
(skater.season==2012)&(skater.team=='PIT')|
(skater.season==2011)&(skater.team=='ANA')|
(skater.season==2010)&(skater.team=='VAN')|
 (skater.season==2009)&(skater.team=='WSH')|
 (skater.season==2008)&(skater.team=='WSH')|
 (skater.season==2007)&(skater.team=='PIT')|
 (skater.season==2006)&(skater.team=='TOT')|
 (skater.season==2004)&(skater.team=='TBL')|
 (skater.season==2003)&(skater.team=='COL')|
 (skater.season==2002)&(skater.team=='MTL')|
 (skater.season==2001)&(skater.team=='COL')|
 (skater.season==2000)&(skater.team=='STL')|
 (skater.season==1999)&(skater.team=='PIT')|
 (skater.season==1998)&(skater.team=='BUF')|
 (skater.season==1997)&(skater.team=='BUF')|
 (skater.season==1996)&(skater.team=='PIT')|
 (skater.season==1995)&(skater.team=='PHI')|
 (skater.season==1994)&(skater.team=='DET')|
 (skater.season==1993)&(skater.team=='PIT')|
 (skater.season==1992)&(skater.team=='NYR')|
 (skater.season==1991)&(skater.team=='STL')|
 (skater.season==1990)&(skater.team=='EDM')|
 (skater.season==1989)&(skater.team=='LAK')|
 (skater.season==1988)&(skater.team=='PIT')|
 (skater.season==1987)&(skater.team=='EDM')|
 (skater.season==1986)&(skater.team=='EDM')|
 (skater.season==1985)&(skater.team=='EDM')|
 (skater.season==1984)&(skater.team=='EDM')|
 (skater.season==1983)&(skater.team=='EDM')|
 (skater.season==1982)&(skater.team=='EDM')|
 (skater.season==1981)&(skater.team=='EDM')|
 (skater.season==1980)&(skater.team=='EDM')|
 (skater.season==1979)&(skater.team=='NYI')|
 (skater.season==1978)&(skater.team=='MTL')|
 (skater.season==1977)&(skater.team=='MTL')|
 (skater.season==1976)&(skater.team=='PHI')|
 (skater.season==1975)&(skater.team=='PHI')|
 (skater.season==1974)&(skater.team=='BOS')|
 (skater.season==1973)&(skater.team=='PHI')|
 (skater.season==1972)&(skater.team=='BOS')|
 (skater.season==1971)&(skater.team=='BOS')|
 (skater.season==1970)&(skater.team=='BOS')|
 (skater.season==1969)&(skater.team=='BOS')|
 (skater.season==1968)&(skater.team=='CBH')|
 (skater.season==1967)&(skater.team=='CBH')|
 (skater.season==1966)&(skater.team=='CBH')|
 (skater.season==1965)&(skater.team=='CBH')|
 (skater.season==1964)&(skater.team=='MTL')|
 (skater.season==1963)&(skater.team=='DET')|
 (skater.season==1962)&(skater.team=='MTL')|
 (skater.season==1961)&(skater.team=='MTL')|
 (skater.season==1960)&(skater.team=='DET')|
 (skater.season==1959)&(skater.team=='NYR')|
 (skater.season==1958)&(skater.team=='DET')|
 (skater.season==1957)&(skater.team=='DET')|
 (skater.season==1956)&(skater.team=='MTL')|
 (skater.season==1955)&(skater.team=='TOR')|
 (skater.season==1954)&(skater.team=='CBH')|
 (skater.season==1953)&(skater.team=='DET')|
 (skater.season==1952)&(skater.team=='DET')|
 (skater.season==1951)&(skater.team=='BOS')|
 (skater.season==1950)&(skater.team=='NYR')|
 (skater.season==1949)&(skater.team=='DET')|
 (skater.season==1948)&(skater.team=='NYR')|
 (skater.season==1947)&(skater.team=='MTL')|
 (skater.season==1946)&(skater.team=='CBH')|
 (skater.season==1945)&(skater.team=='MTL')|
 (skater.season==1944)&(skater.team=='TOR')|
 (skater.season==1943)&(skater.team=='BOS')|
 (skater.season==1942)&(skater.team=='BRO')|
 (skater.season==1941)&(skater.team=='BOS')|
 (skater.season==1940)&(skater.team=='DET')|
 (skater.season==1939)&(skater.team=='MTL')|
 (skater.season==1938)&(skater.team=='BOS')|
 (skater.season==1937)&(skater.team=='MTL')|
 (skater.season==1936)&(skater.team=='BOS')|
 (skater.season==1935)&(skater.team=='BOS')|
 (skater.season==1934)&(skater.team=='MTL')|
 (skater.season==1933)&(skater.team=='BOS')|
 (skater.season==1932)&(skater.team=='MTL')|
 (skater.season==1931)&(skater.team=='MTL')|
 (skater.season==1930)&(skater.team=='MTM')|
 (skater.season==1929)&(skater.team=='NYA')|
 (skater.season==1928)&(skater.team=='MTL')|
 (skater.season==1927)&(skater.team=='MTL')|
 (skater.season==1926)&(skater.team=='MTM')|
 (skater.season==1925)&(skater.team=='HAM')|
 (skater.season==1924)&(skater.team=='OTS')]

In [27]:
hart_df

,name,age,team,pos,gp,goals,assists,points,plusmin,plm,...,toi,toi_avg,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,season,shot_pct,gpg
134,Ryan Callahan,33.0,TBL,RW,52,7.0,10.0,17.0,7,14,...,579,668,89.0,6.0,15.0,25.0,0.286,2019,0.09210526315789473,0.134615
157,Erik Cernak,21.0,TBL,D,58,5.0,11.0,16.0,25,58,...,1117,1155,198.0,0.0,0.0,79.0,NaN,2019,0.04672897196261682,0.086207
169,Anthony Cirelli,21.0,TBL,C,82,19.0,20.0,39.0,25,34,...,1217,891,94.0,502.0,449.0,49.0,0.528,2019,0.15447154471544716,0.231707
176,Braydon Coburn,33.0,TBL,D,74,4.0,19.0,23.0,4,34,...,1192,967,96.0,0.0,0.0,62.0,NaN,2019,0.035398230088495575,0.054054
185,Cory Conacher,29.0,TBL,LW,1,0.0,0.0,0.0,0,2,...,9,515,0.0,0.0,0.0,0.0,NaN,2019,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38843,Ken Kilrea,21.0,DET,LW,40,10.0,8.0,18.0,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940,NaN,0.250000
38846,Alex Motter,26.0,DET,D,37,7.0,12.0,19.0,NaN,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940,NaN,0.189200
38867,Mud Bruneteau,25.0,DET,RW,48,10.0,14.0,24.0,NaN,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940,NaN,0.208300
38876,Ebbie Goodfellow*,32.0,DET,D,43,11.0,17.0,28.0,NaN,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940,NaN,0.255800
38889,Syd Howe*,28.0,DET,C,46,14.0,23.0,37.0,NaN,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940,NaN,0.304300

In [28]:
mvp.reset_index(inplace=True)

In [29]:
mvp.drop(['index','Unnamed: 0'],axis=1,inplace=True)

In [30]:
mvp_dict={}
for i in range(len(mvp)):
    mvp_dict[mvp.Season[i]]=mvp.Team[i]

In [31]:
mvp_dict

{2019: 'MIL',
 2018: 'HOU',
 2017: 'OKC',
 2016: 'GSW',
 2015: 'GSW',
 2014: 'OKC',
 2013: 'MIA',
 2012: 'MIA',
 2011: 'CHI',
 2010: 'CLE',
 2009: 'CLE',
 2008: 'LAL',
 2007: 'DAL',
 2006: 'PHO',
 2005: 'PHO',
 2004: 'MIN',
 2003: 'SAS',
 2002: 'SAS',
 2001: 'PHI',
 2000: 'LAL',
 1999: 'UTA',
 1998: 'CHI',
 1997: 'UTA',
 1996: 'CHI',
 1995: 'SAS',
 1994: 'HOU',
 1993: 'PHO',
 1992: 'CHI',
 1991: 'CHI',
 1990: 'LAL',
 1989: 'LAL',
 1988: 'CHI',
 1987: 'LAL',
 1986: 'BOS',
 1985: 'BOS',
 1984: 'BOS',
 1983: 'PHI',
 1982: 'HOU',
 1981: 'PHI',
 1980: 'LAL',
 1979: 'HOU',
 1978: 'POR',
 1977: 'LAL',
 1976: 'LAL',
 1975: 'BUF',
 1974: 'MIL',
 1973: 'BOS',
 1972: 'MIL',
 1971: 'MIL',
 1970: 'NYK',
 1969: 'BAL',
 1968: 'PHI',
 1967: 'PHI',
 1966: 'PHI',
 1965: 'BOS',
 1964: 'CIN',
 1963: 'BOS',
 1962: 'BOS',
 1961: 'BOS',
 1960: 'PHW',
 1959: 'STL',
 1958: 'BOS',
 1957: 'BOS',
 1956: 'STL'}

In [32]:
mvp_lst=[]
for season in list(mvp_dict.keys()):
    mvp_lst.append(f"(nba.Year=={season})&(nba.team=='{mvp_dict[season]}')|")

In [33]:
mvp_lst

["(nba.Year==2019)&(nba.team=='MIL')|",
 "(nba.Year==2018)&(nba.team=='HOU')|",
 "(nba.Year==2017)&(nba.team=='OKC')|",
 "(nba.Year==2016)&(nba.team=='GSW')|",
 "(nba.Year==2015)&(nba.team=='GSW')|",
 "(nba.Year==2014)&(nba.team=='OKC')|",
 "(nba.Year==2013)&(nba.team=='MIA')|",
 "(nba.Year==2012)&(nba.team=='MIA')|",
 "(nba.Year==2011)&(nba.team=='CHI')|",
 "(nba.Year==2010)&(nba.team=='CLE')|",
 "(nba.Year==2009)&(nba.team=='CLE')|",
 "(nba.Year==2008)&(nba.team=='LAL')|",
 "(nba.Year==2007)&(nba.team=='DAL')|",
 "(nba.Year==2006)&(nba.team=='PHO')|",
 "(nba.Year==2005)&(nba.team=='PHO')|",
 "(nba.Year==2004)&(nba.team=='MIN')|",
 "(nba.Year==2003)&(nba.team=='SAS')|",
 "(nba.Year==2002)&(nba.team=='SAS')|",
 "(nba.Year==2001)&(nba.team=='PHI')|",
 "(nba.Year==2000)&(nba.team=='LAL')|",
 "(nba.Year==1999)&(nba.team=='UTA')|",
 "(nba.Year==1998)&(nba.team=='CHI')|",
 "(nba.Year==1997)&(nba.team=='UTA')|",
 "(nba.Year==1996)&(nba.team=='CHI')|",
 "(nba.Year==1995)&(nba.team=='SAS')|",
 "(nba.Year==1994)&(nba.team=='HOU')|",
 "(nba.Year==1993)&(nba.team=='PHO')|",
 "(nba.Year==1992)&(nba.team=='CHI')|",
 "(nba.Year==1991)&(nba.team=='CHI')|",
 "(nba.Year==1990)&(nba.team=='LAL')|",
 "(nba.Year==1989)&(nba.team=='LAL')|",
 "(nba.Year==1988)&(nba.team=='CHI')|",
 "(nba.Year==1987)&(nba.team=='LAL')|",
 "(nba.Year==1986)&(nba.team=='BOS')|",
 "(nba.Year==1985)&(nba.team=='BOS')|",
 "(nba.Year==1984)&(nba.team=='BOS')|",
 "(nba.Year==1983)&(nba.team=='PHI')|",
 "(nba.Year==1982)&(nba.team=='HOU')|",
 "(nba.Year==1981)&(nba.team=='PHI')|",
 "(nba.Year==1980)&(nba.team=='LAL')|",
 "(nba.Year==1979)&(nba.team=='HOU')|",
 "(nba.Year==1978)&(nba.team=='POR')|",
 "(nba.Year==1977)&(nba.team=='LAL')|",
 "(nba.Year==1976)&(nba.team=='LAL')|",
 "(nba.Year==1975)&(nba.team=='BUF')|",
 "(nba.Year==1974)&(nba.team=='MIL')|",
 "(nba.Year==1973)&(nba.team=='BOS')|",
 "(nba.Year==1972)&(nba.team=='MIL')|",
 "(nba.Year==1971)&(nba.team=='MIL')|",
 "(nba.Year==1970)&(nba.team=='NYK')|",
 "(nba.Year==1969)&(nba.team=='BAL')|",
 "(nba.Year==1968)&(nba.team=='PHI')|",
 "(nba.Year==1967)&(nba.team=='PHI')|",
 "(nba.Year==1966)&(nba.team=='PHI')|",
 "(nba.Year==1965)&(nba.team=='BOS')|",
 "(nba.Year==1964)&(nba.team=='CIN')|",
 "(nba.Year==1963)&(nba.team=='BOS')|",
 "(nba.Year==1962)&(nba.team=='BOS')|",
 "(nba.Year==1961)&(nba.team=='BOS')|",
 "(nba.Year==1960)&(nba.team=='PHW')|",
 "(nba.Year==1959)&(nba.team=='STL')|",
 "(nba.Year==1958)&(nba.team=='BOS')|",
 "(nba.Year==1957)&(nba.team=='BOS')|",
 "(nba.Year==1956)&(nba.team=='STL')|"]

In [34]:
mvp_df = nba[(nba.Year==2019)&(nba.team=='MIL')|
 (nba.Year==2018)&(nba.team=='HOU')|
 (nba.Year==2017)&(nba.team=='OKC')|
 (nba.Year==2016)&(nba.team=='GSW')|
 (nba.Year==2015)&(nba.team=='GSW')|
 (nba.Year==2014)&(nba.team=='OKC')|
 (nba.Year==2013)&(nba.team=='MIA')|
 (nba.Year==2012)&(nba.team=='MIA')|
 (nba.Year==2011)&(nba.team=='CHI')|
 (nba.Year==2010)&(nba.team=='CLE')|
 (nba.Year==2009)&(nba.team=='CLE')|
 (nba.Year==2008)&(nba.team=='LAL')|
 (nba.Year==2007)&(nba.team=='DAL')|
 (nba.Year==2006)&(nba.team=='PHO')|
 (nba.Year==2005)&(nba.team=='PHO')|
 (nba.Year==2004)&(nba.team=='MIN')|
 (nba.Year==2003)&(nba.team=='SAS')|
 (nba.Year==2002)&(nba.team=='SAS')|
 (nba.Year==2001)&(nba.team=='PHI')|
 (nba.Year==2000)&(nba.team=='LAL')|
 (nba.Year==1999)&(nba.team=='UTA')|
 (nba.Year==1998)&(nba.team=='CHI')|
 (nba.Year==1997)&(nba.team=='UTA')|
 (nba.Year==1996)&(nba.team=='CHI')|
 (nba.Year==1995)&(nba.team=='SAS')|
 (nba.Year==1994)&(nba.team=='HOU')|
 (nba.Year==1993)&(nba.team=='PHO')|
 (nba.Year==1992)&(nba.team=='CHI')|
 (nba.Year==1991)&(nba.team=='CHI')|
 (nba.Year==1990)&(nba.team=='LAL')|
 (nba.Year==1989)&(nba.team=='LAL')|
 (nba.Year==1988)&(nba.team=='CHI')|
 (nba.Year==1987)&(nba.team=='LAL')|
 (nba.Year==1986)&(nba.team=='BOS')|
 (nba.Year==1985)&(nba.team=='BOS')|
 (nba.Year==1984)&(nba.team=='BOS')|
 (nba.Year==1983)&(nba.team=='PHI')|
 (nba.Year==1982)&(nba.team=='HOU')|
 (nba.Year==1981)&(nba.team=='PHI')|
 (nba.Year==1980)&(nba.team=='LAL')|
 (nba.Year==1979)&(nba.team=='HOU')|
 (nba.Year==1978)&(nba.team=='POR')|
 (nba.Year==1977)&(nba.team=='LAL')|
 (nba.Year==1976)&(nba.team=='LAL')|
 (nba.Year==1975)&(nba.team=='BUF')|
 (nba.Year==1974)&(nba.team=='MIL')|
 (nba.Year==1973)&(nba.team=='BOS')|
 (nba.Year==1972)&(nba.team=='MIL')|
 (nba.Year==1971)&(nba.team=='MIL')|
 (nba.Year==1970)&(nba.team=='NYK')|
 (nba.Year==1969)&(nba.team=='BAL')|
 (nba.Year==1968)&(nba.team=='PHI')|
 (nba.Year==1967)&(nba.team=='PHI')|
 (nba.Year==1966)&(nba.team=='PHI')|
 (nba.Year==1965)&(nba.team=='BOS')|
 (nba.Year==1964)&(nba.team=='CIN')|
 (nba.Year==1963)&(nba.team=='BOS')|
 (nba.Year==1962)&(nba.team=='BOS')|
 (nba.Year==1961)&(nba.team=='BOS')|
 (nba.Year==1960)&(nba.team=='PHW')|
 (nba.Year==1959)&(nba.team=='STL')|
 (nba.Year==1958)&(nba.team=='BOS')|
 (nba.Year==1957)&(nba.team=='BOS')|
 (nba.Year==1956)&(nba.team=='STL')]

In [35]:
mvp_df

,Unnamed: 0,name,pos,age,team,gp,gs,mp,fg,fga,...,trb,ast,stl,blk,tov,fouls,pts,Year,school,selection
823,823,Jack Coleman,PF,31,STL,75,NaN,36.5,5.2,12.6,...,9.2,3.9,NaN,NaN,NaN,3.2,12.8,1956,NaN,NaN
835,835,Al Ferrari,SF,22,STL,68,NaN,23.7,2.8,7.9,...,2.7,2.4,NaN,NaN,NaN,2.8,8.0,1956,NaN,NaN
843,843,Alex Hannum*,PF,32,STL,71,NaN,20.8,2.1,6.4,...,4.8,2.2,NaN,NaN,NaN,3.8,5.4,1956,NaN,NaN
845,845,Bob Harrison,PG,28,STL,72,NaN,30.8,3.6,10.1,...,2.7,3.8,NaN,NaN,NaN,3.4,8.6,1956,NaN,NaN
864,864,Jack McMahon,PG,27,STL,70,NaN,24.5,2.9,8.8,...,2.6,3.2,NaN,NaN,NaN,2.4,7.3,1956,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21171,21171,Khris Middleton,SF,27,MIL,77,77.0,31.1,6.6,14.9,...,6.0,4.3,1.0,0.1,2.3,2.2,18.3,2019,Texas A&M,78.0
21178,21178,Nikola MirotiÄ‡,PF,27,MIL,46,25.0,27.1,5.2,11.8,...,7.4,1.2,0.7,0.7,1.0,2.3,15.2,2019,NaN,NaN
21185,21185,Jaylen Morris,SG,23,MIL,4,0.0,7.3,1.0,2.5,...,1.3,1.0,0.5,0.0,0.3,0.3,2.5,2019,NaN,NaN
21283,21283,Tony Snell,SF,27,MIL,74,12.0,17.6,2.2,4.9,...,2.1,0.9,0.4,0.2,0.3,1.2,6.0,2019,New Mexico,20.0
21344,21344,D.J. Wilson,PF,22,MIL,48,3.0,18.4,2.2,5.2,...,4.6,1.1,0.4,0.4,0.7,1.8,5.8,2019,NaN,NaN

In [36]:
mvp_df.reset_index(inplace=True)
hart_df.reset_index(inplace=True)

In [37]:
hart_df.head()

,index,name,age,team,pos,gp,goals,assists,points,plusmin,...,toi,toi_avg,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,season,shot_pct,gpg
0,134,Ryan Callahan,33.0,TBL,RW,52,7.0,10.0,17.0,7,...,579,668,89.0,6.0,15.0,25.0,0.286,2019,0.09210526315789473,0.134615
1,157,Erik Cernak,21.0,TBL,D,58,5.0,11.0,16.0,25,...,1117,1155,198.0,0.0,0.0,79.0,NaN,2019,0.04672897196261682,0.086207
2,169,Anthony Cirelli,21.0,TBL,C,82,19.0,20.0,39.0,25,...,1217,891,94.0,502.0,449.0,49.0,0.528,2019,0.15447154471544716,0.231707
3,176,Braydon Coburn,33.0,TBL,D,74,4.0,19.0,23.0,4,...,1192,967,96.0,0.0,0.0,62.0,NaN,2019,0.035398230088495575,0.054054
4,185,Cory Conacher,29.0,TBL,LW,1,0.0,0.0,0.0,0,...,9,515,0.0,0.0,0.0,0.0,NaN,2019,0.0,0.000000

In [38]:
mvp_df.tail()

,index,Unnamed: 0,name,pos,age,team,gp,gs,mp,fg,...,trb,ast,stl,blk,tov,fouls,pts,Year,school,selection
863,21171,21171,Khris Middleton,SF,27,MIL,77,77.0,31.1,6.6,...,6.0,4.3,1.0,0.1,2.3,2.2,18.3,2019,Texas A&M,78.0
864,21178,21178,Nikola MirotiÄ‡,PF,27,MIL,46,25.0,27.1,5.2,...,7.4,1.2,0.7,0.7,1.0,2.3,15.2,2019,NaN,NaN
865,21185,21185,Jaylen Morris,SG,23,MIL,4,0.0,7.3,1.0,...,1.3,1.0,0.5,0.0,0.3,0.3,2.5,2019,NaN,NaN
866,21283,21283,Tony Snell,SF,27,MIL,74,12.0,17.6,2.2,...,2.1,0.9,0.4,0.2,0.3,1.2,6.0,2019,New Mexico,20.0
867,21344,21344,D.J. Wilson,PF,22,MIL,48,3.0,18.4,2.2,...,4.6,1.1,0.4,0.4,0.7,1.8,5.8,2019,NaN,NaN

In [39]:
hart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 29 columns):
index             1995 non-null int64
name              1995 non-null object
age               1995 non-null float64
team              1995 non-null object
pos               1995 non-null object
gp                1995 non-null int64
goals             1677 non-null float64
assists           1749 non-null float64
points            1793 non-null float64
plusmin           1392 non-null object
plm               1995 non-null object
goals_ev          1478 non-null object
goals_pp          1478 non-null object
goals_sh          1478 non-null object
goals_gw          1478 non-null object
assists_ev        1392 non-null object
assists_pp        1392 non-null object
assists_sh        1392 non-null object
shots             1392 non-null object
toi               640 non-null object
toi_avg           640 non-null object
hits              366 non-null float64
faceoff_wins      366 non-null float64
faceoff_losses    366 non-null float64
block             25 non-null float64
faceoff_pct       234 non-null float64
season            1995 non-null int64
shot_pct          1338 non-null object
gpg               1995 non-null float64
dtypes: float64(10), int64(3), object(16)
memory usage: 452.1+ KB

In [40]:
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    hart_df[col].fillna(0,inplace=True)

In [41]:
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    skater[col].fillna(0,inplace=True)

In [42]:
hart_df

,index,name,age,team,pos,gp,goals,assists,points,plusmin,...,toi,toi_avg,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,season,shot_pct,gpg
0,134,Ryan Callahan,33.0,TBL,RW,52,7.0,10.0,17.0,7,...,579,668,89.0,6.0,15.0,25.0,0.286,2019,0.09210526315789473,0.134615
1,157,Erik Cernak,21.0,TBL,D,58,5.0,11.0,16.0,25,...,1117,1155,198.0,0.0,0.0,79.0,0.000,2019,0.04672897196261682,0.086207
2,169,Anthony Cirelli,21.0,TBL,C,82,19.0,20.0,39.0,25,...,1217,891,94.0,502.0,449.0,49.0,0.528,2019,0.15447154471544716,0.231707
3,176,Braydon Coburn,33.0,TBL,D,74,4.0,19.0,23.0,4,...,1192,967,96.0,0.0,0.0,62.0,0.000,2019,0.035398230088495575,0.054054
4,185,Cory Conacher,29.0,TBL,LW,1,0.0,0.0,0.0,0,...,9,515,0.0,0.0,0.0,0.0,0.000,2019,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990,38843,Ken Kilrea,21.0,DET,LW,40,10.0,8.0,18.0,0,...,0,0,0.0,0.0,0.0,0.0,0.000,1940,0,0.250000
1991,38846,Alex Motter,26.0,DET,D,37,7.0,12.0,19.0,0,...,0,0,0.0,0.0,0.0,0.0,0.000,1940,0,0.189200
1992,38867,Mud Bruneteau,25.0,DET,RW,48,10.0,14.0,24.0,0,...,0,0,0.0,0.0,0.0,0.0,0.000,1940,0,0.208300
1993,38876,Ebbie Goodfellow*,32.0,DET,D,43,11.0,17.0,28.0,0,...,0,0,0.0,0.0,0.0,0.0,0.000,1940,0,0.255800
1994,38889,Syd Howe*,28.0,DET,C,46,14.0,23.0,37.0,0,...,0,0,0.0,0.0,0.0,0.0,0.000,1940,0,0.304300

In [43]:
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    hart_df[col].replace("-","0",inplace=True)
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    skater[col].replace("-","0",inplace=True)

In [44]:
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    try:
        hart_df[col]=hart_df[col].astype(float)
    except:
        print(col)

toi
toi_avg

In [45]:
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    try:
        skater[col]=skater[col].astype(float)
    except:
        print(col)

toi
toi_avg

In [46]:
hart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 29 columns):
index             1995 non-null int64
name              1995 non-null object
age               1995 non-null float64
team              1995 non-null object
pos               1995 non-null object
gp                1995 non-null int64
goals             1995 non-null float64
assists           1995 non-null float64
points            1995 non-null float64
plusmin           1995 non-null float64
plm               1995 non-null float64
goals_ev          1995 non-null float64
goals_pp          1995 non-null float64
goals_sh          1995 non-null float64
goals_gw          1995 non-null float64
assists_ev        1995 non-null float64
assists_pp        1995 non-null float64
assists_sh        1995 non-null float64
shots             1995 non-null float64
toi               1995 non-null object
toi_avg           1995 non-null object
hits              1995 non-null float64
faceoff_wins      1995 non-null float64
faceoff_losses    1995 non-null float64
block             1995 non-null float64
faceoff_pct       1995 non-null float64
season            1995 non-null int64
shot_pct          1995 non-null float64
gpg               1995 non-null float64
dtypes: float64(21), int64(3), object(5)
memory usage: 452.1+ KB

In [47]:
hart_df.toi[40].replace(",","")

'1152'

In [48]:
for i in range(len(hart_df)):
    hart_df.toi[i]=(str(hart_df.toi[i])).replace(",","")
for i in range(len(skater)):
    skater.toi[i]=(str(skater.toi[i])).replace(",","")

In [49]:
hart_df.drop(['index','toi_avg'],axis=1,inplace=True)
skater.drop(['toi_avg'],axis=1,inplace=True)

In [50]:
mvp_df.drop(['index'],axis=1,inplace=True)

In [51]:
hart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 27 columns):
name              1995 non-null object
age               1995 non-null float64
team              1995 non-null object
pos               1995 non-null object
gp                1995 non-null int64
goals             1995 non-null float64
assists           1995 non-null float64
points            1995 non-null float64
plusmin           1995 non-null float64
plm               1995 non-null float64
goals_ev          1995 non-null float64
goals_pp          1995 non-null float64
goals_sh          1995 non-null float64
goals_gw          1995 non-null float64
assists_ev        1995 non-null float64
assists_pp        1995 non-null float64
assists_sh        1995 non-null float64
shots             1995 non-null float64
toi               1995 non-null object
hits              1995 non-null float64
faceoff_wins      1995 non-null float64
faceoff_losses    1995 non-null float64
block             1995 non-null float64
faceoff_pct       1995 non-null float64
season            1995 non-null int64
shot_pct          1995 non-null float64
gpg               1995 non-null float64
dtypes: float64(21), int64(2), object(4)
memory usage: 420.9+ KB

In [52]:
hart_df.toi=hart_df.toi.astype(float)
skater.toi=skater.toi.astype(float)

In [53]:
hart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 27 columns):
name              1995 non-null object
age               1995 non-null float64
team              1995 non-null object
pos               1995 non-null object
gp                1995 non-null int64
goals             1995 non-null float64
assists           1995 non-null float64
points            1995 non-null float64
plusmin           1995 non-null float64
plm               1995 non-null float64
goals_ev          1995 non-null float64
goals_pp          1995 non-null float64
goals_sh          1995 non-null float64
goals_gw          1995 non-null float64
assists_ev        1995 non-null float64
assists_pp        1995 non-null float64
assists_sh        1995 non-null float64
shots             1995 non-null float64
toi               1995 non-null float64
hits              1995 non-null float64
faceoff_wins      1995 non-null float64
faceoff_losses    1995 non-null float64
block             1995 non-null float64
faceoff_pct       1995 non-null float64
season            1995 non-null int64
shot_pct          1995 non-null float64
gpg               1995 non-null float64
dtypes: float64(22), int64(2), object(3)
memory usage: 420.9+ KB

In [54]:
hart_df['toi_avg']=hart_df.toi/hart_df.gp
skater['toi_avg']=skater.toi/skater.gp

In [55]:
hart_df

,name,age,team,pos,gp,goals,assists,points,plusmin,plm,...,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,season,shot_pct,gpg,toi_avg
0,Ryan Callahan,33.0,TBL,RW,52,7.0,10.0,17.0,7.0,14.0,...,579.0,89.0,6.0,15.0,25.0,0.286,2019,0.092105,0.134615,11.134615
1,Erik Cernak,21.0,TBL,D,58,5.0,11.0,16.0,25.0,58.0,...,1117.0,198.0,0.0,0.0,79.0,0.000,2019,0.046729,0.086207,19.258621
2,Anthony Cirelli,21.0,TBL,C,82,19.0,20.0,39.0,25.0,34.0,...,1217.0,94.0,502.0,449.0,49.0,0.528,2019,0.154472,0.231707,14.841463
3,Braydon Coburn,33.0,TBL,D,74,4.0,19.0,23.0,4.0,34.0,...,1192.0,96.0,0.0,0.0,62.0,0.000,2019,0.035398,0.054054,16.108108
4,Cory Conacher,29.0,TBL,LW,1,0.0,0.0,0.0,0.0,2.0,...,9.0,0.0,0.0,0.0,0.0,0.000,2019,0.000000,0.000000,9.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990,Ken Kilrea,21.0,DET,LW,40,10.0,8.0,18.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.000,1940,0.000000,0.250000,0.000000
1991,Alex Motter,26.0,DET,D,37,7.0,12.0,19.0,0.0,28.0,...,0.0,0.0,0.0,0.0,0.0,0.000,1940,0.000000,0.189200,0.000000
1992,Mud Bruneteau,25.0,DET,RW,48,10.0,14.0,24.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.000,1940,0.000000,0.208300,0.000000
1993,Ebbie Goodfellow*,32.0,DET,D,43,11.0,17.0,28.0,0.0,31.0,...,0.0,0.0,0.0,0.0,0.0,0.000,1940,0.000000,0.255800,0.000000
1994,Syd Howe*,28.0,DET,C,46,14.0,23.0,37.0,0.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.000,1940,0.000000,0.304300,0.000000

In [56]:
mvp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 33 columns):
Unnamed: 0    868 non-null int64
name          868 non-null object
pos           868 non-null object
age           868 non-null int64
team          868 non-null object
gp            868 non-null int64
gs            551 non-null float64
mp            868 non-null float64
fg            868 non-null float64
fga           868 non-null float64
fg%           868 non-null float64
3p            574 non-null float64
3pa           574 non-null float64
3p%           476 non-null float64
2p            868 non-null float64
2pa           868 non-null float64
2p%           868 non-null float64
efg%          868 non-null float64
ft            868 non-null float64
fta           868 non-null float64
ft%           850 non-null float64
orb           657 non-null float64
drb           657 non-null float64
trb           868 non-null float64
ast           868 non-null float64
stl           657 non-null float64
blk           657 non-null float64
tov           600 non-null float64
fouls         868 non-null float64
pts           868 non-null float64
Year          868 non-null int64
school        344 non-null object
selection     344 non-null float64
dtypes: float64(25), int64(4), object(4)
memory usage: 223.9+ KB

In [57]:
mvp_df.drop('Unnamed: 0',axis=1,inplace=True)

In [58]:
mvp_df.columns

Index(['name', 'pos', 'age', 'team', 'gp', 'gs', 'mp', 'fg', 'fga', 'fg%',
       '3p', '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'fouls', 'pts', 'Year',
       'school', 'selection'],
      dtype='object')

In [59]:
for col in ['gp', 'gs', 'mp', 'fg', 'fga', 'fg%',
       '3p', '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'fouls', 'pts']:
    mvp_df[col].fillna(0,inplace=True)

In [60]:
for col in ['gp', 'gs', 'mp', 'fg', 'fga', 'fg%',
       '3p', '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'fouls', 'pts']:
    nba[col].fillna(0,inplace=True)

In [61]:
mvp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 32 columns):
name         868 non-null object
pos          868 non-null object
age          868 non-null int64
team         868 non-null object
gp           868 non-null int64
gs           868 non-null float64
mp           868 non-null float64
fg           868 non-null float64
fga          868 non-null float64
fg%          868 non-null float64
3p           868 non-null float64
3pa          868 non-null float64
3p%          868 non-null float64
2p           868 non-null float64
2pa          868 non-null float64
2p%          868 non-null float64
efg%         868 non-null float64
ft           868 non-null float64
fta          868 non-null float64
ft%          868 non-null float64
orb          868 non-null float64
drb          868 non-null float64
trb          868 non-null float64
ast          868 non-null float64
stl          868 non-null float64
blk          868 non-null float64
tov          868 non-null float64
fouls        868 non-null float64
pts          868 non-null float64
Year         868 non-null int64
school       344 non-null object
selection    344 non-null float64
dtypes: float64(25), int64(3), object(4)
memory usage: 217.1+ KB

In [62]:
nba.school.fillna('N/A',inplace=True)
nba.selection.fillna(0,inplace=True)

In [63]:
mvp_df.school.fillna('N/A',inplace=True)
mvp_df.selection.fillna(0,inplace=True)

In [64]:
mvp_df

,name,pos,age,team,gp,gs,mp,fg,fga,fg%,...,trb,ast,stl,blk,tov,fouls,pts,Year,school,selection
0,Jack Coleman,PF,31,STL,75,0.0,36.5,5.2,12.6,0.412,...,9.2,3.9,0.0,0.0,0.0,3.2,12.8,1956,N/A,0.0
1,Al Ferrari,SF,22,STL,68,0.0,23.7,2.8,7.9,0.358,...,2.7,2.4,0.0,0.0,0.0,2.8,8.0,1956,N/A,0.0
2,Alex Hannum*,PF,32,STL,71,0.0,20.8,2.1,6.4,0.322,...,4.8,2.2,0.0,0.0,0.0,3.8,5.4,1956,N/A,0.0
3,Bob Harrison,PG,28,STL,72,0.0,30.8,3.6,10.1,0.359,...,2.7,3.8,0.0,0.0,0.0,3.4,8.6,1956,N/A,0.0
4,Jack McMahon,PG,27,STL,70,0.0,24.5,2.9,8.8,0.328,...,2.6,3.2,0.0,0.0,0.0,2.4,7.3,1956,N/A,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,Khris Middleton,SF,27,MIL,77,77.0,31.1,6.6,14.9,0.441,...,6.0,4.3,1.0,0.1,2.3,2.2,18.3,2019,Texas A&M,78.0
864,Nikola MirotiÄ‡,PF,27,MIL,46,25.0,27.1,5.2,11.8,0.439,...,7.4,1.2,0.7,0.7,1.0,2.3,15.2,2019,N/A,0.0
865,Jaylen Morris,SG,23,MIL,4,0.0,7.3,1.0,2.5,0.400,...,1.3,1.0,0.5,0.0,0.3,0.3,2.5,2019,N/A,0.0
866,Tony Snell,SF,27,MIL,74,12.0,17.6,2.2,4.9,0.452,...,2.1,0.9,0.4,0.2,0.3,1.2,6.0,2019,New Mexico,20.0
867,D.J. Wilson,PF,22,MIL,48,3.0,18.4,2.2,5.2,0.414,...,4.6,1.1,0.4,0.4,0.7,1.8,5.8,2019,N/A,0.0

In [65]:
nba.head()

,Unnamed: 0,name,pos,age,team,gp,gs,mp,fg,fga,...,trb,ast,stl,blk,tov,fouls,pts,Year,school,selection
0,0,Curly Armstrong,G-F,31,FTW,63,0.0,0.0,2.3,8.2,...,0.0,2.8,0.0,0.0,0.0,3.4,7.3,1950,N/A,0.0
1,1,Cliff Barker,SG,29,INO,49,0.0,0.0,2.1,5.6,...,0.0,2.2,0.0,0.0,0.0,2.0,5.7,1950,N/A,0.0
2,2,Leo Barnhorst,SF,25,CHS,67,0.0,0.0,2.6,7.4,...,0.0,2.1,0.0,0.0,0.0,2.9,6.5,1950,N/A,0.0
3,3,Ed Bartels,F,24,NYK,15,0.0,0.0,1.5,5.7,...,0.0,1.3,0.0,0.0,0.0,1.9,4.2,1950,N/A,0.0
4,4,Ralph Beard,G,22,INO,60,0.0,0.0,5.7,15.6,...,0.0,3.9,0.0,0.0,0.0,2.2,14.9,1950,N/A,0.0

In [66]:
skater.head()

,name,age,team,pos,gp,goals,assists,points,plusmin,plm,...,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,season,shot_pct,gpg,toi_avg
0,Justin Abdelkader,31.0,DET,LW,71,6.0,13.0,19.0,-14.0,38.0,...,1093.0,185.0,52.0,51.0,34.0,0.505,2019,0.063158,0.084507,15.394366
1,Pontus Aberg,25.0,TOT,LW,59,12.0,13.0,25.0,-14.0,20.0,...,861.0,45.0,2.0,17.0,11.0,0.105,2019,0.118812,0.203390,14.593220
2,Pontus Aberg,25.0,ANA,LW,37,11.0,8.0,19.0,-10.0,14.0,...,578.0,31.0,2.0,9.0,7.0,0.182,2019,0.148649,0.297297,15.621622
3,Pontus Aberg,25.0,MIN,LW,22,1.0,5.0,6.0,-4.0,6.0,...,283.0,14.0,0.0,8.0,4.0,0.000,2019,0.037037,0.045455,12.863636
4,Vitaly Abramov,20.0,OTT,RW,1,0.0,0.0,0.0,-3.0,0.0,...,14.0,0.0,0.0,0.0,1.0,0.000,2019,0.000000,0.000000,14.000000

In [67]:
goalies.head()

,Unnamed: 0,name,age,team,gp,gs,wins,losses,ties,goals_against,...,quality_start_pct,really_bad_starts,ga_pct_minus,gs_above_avg,goals_scored,assists,points,plm,mpg,season
0,0,Clint Benedict*,25,OTS,22.0,NaN,9.0,13.0,0.0,114,...,NaN,NaN,0.0,0.0,0,0,0,0,60.773,1918
1,1,Art Brooks,28,TRA,4.0,NaN,2.0,2.0,0.0,23,...,NaN,NaN,0.0,0.0,0,0,0,0,55.000,1918
2,2,Sammy Hebert,23,TRA,2.0,NaN,1.0,0.0,0.0,10,...,NaN,NaN,0.0,0.0,0,0,0,0,40.000,1918
3,3,Hap Holmes*,29,TRA,16.0,NaN,9.0,7.0,0.0,76,...,NaN,NaN,0.0,0.0,0,0,0,0,60.312,1918
4,4,Bert Lindsay,36,MTW,4.0,NaN,1.0,3.0,0.0,35,...,NaN,NaN,0.0,0.0,0,0,0,0,60.000,1918

In [68]:
for col in goalies.columns:
    goalies[col].fillna(0,inplace=True)

In [69]:
hart_df_goalie=goalies[(goalies.season==2019)&(goalies.team=='TBL')|
(goalies.season==2018)&(goalies.team=='NJD')|
(goalies.season==2017)&(goalies.team=='EDM')|
(goalies.season==2016)&(goalies.team=='CHI')|
(goalies.season==2015)&(goalies.team=='MTL')|
(goalies.season==2014)&(goalies.team=='PIT')|
(goalies.season==2013)&(goalies.team=='WSH')|
(goalies.season==2012)&(goalies.team=='PIT')|
(goalies.season==2011)&(goalies.team=='ANA')|
(goalies.season==2010)&(goalies.team=='VAN')|
 (goalies.season==2009)&(goalies.team=='WSH')|
 (goalies.season==2008)&(goalies.team=='WSH')|
 (goalies.season==2007)&(goalies.team=='PIT')|
 (goalies.season==2006)&(goalies.team=='TOT')|
 (goalies.season==2004)&(goalies.team=='TBL')|
 (goalies.season==2003)&(goalies.team=='COL')|
 (goalies.season==2002)&(goalies.team=='MTL')|
 (goalies.season==2001)&(goalies.team=='COL')|
 (goalies.season==2000)&(goalies.team=='STL')|
 (goalies.season==1999)&(goalies.team=='PIT')|
 (goalies.season==1998)&(goalies.team=='BUF')|
 (goalies.season==1997)&(goalies.team=='BUF')|
 (goalies.season==1996)&(goalies.team=='PIT')|
 (goalies.season==1995)&(goalies.team=='PHI')|
 (goalies.season==1994)&(goalies.team=='DET')|
 (goalies.season==1993)&(goalies.team=='PIT')|
 (goalies.season==1992)&(goalies.team=='NYR')|
 (goalies.season==1991)&(goalies.team=='STL')|
 (goalies.season==1990)&(goalies.team=='EDM')|
 (goalies.season==1989)&(goalies.team=='LAK')|
 (goalies.season==1988)&(goalies.team=='PIT')|
 (goalies.season==1987)&(goalies.team=='EDM')|
 (goalies.season==1986)&(goalies.team=='EDM')|
 (goalies.season==1985)&(goalies.team=='EDM')|
 (goalies.season==1984)&(goalies.team=='EDM')|
 (goalies.season==1983)&(goalies.team=='EDM')|
 (goalies.season==1982)&(goalies.team=='EDM')|
 (goalies.season==1981)&(goalies.team=='EDM')|
 (goalies.season==1980)&(goalies.team=='EDM')|
 (goalies.season==1979)&(goalies.team=='NYI')|
 (goalies.season==1978)&(goalies.team=='MTL')|
 (goalies.season==1977)&(goalies.team=='MTL')|
 (goalies.season==1976)&(goalies.team=='PHI')|
 (goalies.season==1975)&(goalies.team=='PHI')|
 (goalies.season==1974)&(goalies.team=='BOS')|
 (goalies.season==1973)&(goalies.team=='PHI')|
 (goalies.season==1972)&(goalies.team=='BOS')|
 (goalies.season==1971)&(goalies.team=='BOS')|
 (goalies.season==1970)&(goalies.team=='BOS')|
 (goalies.season==1969)&(goalies.team=='BOS')|
 (goalies.season==1968)&(goalies.team=='CBH')|
 (goalies.season==1967)&(goalies.team=='CBH')|
 (goalies.season==1966)&(goalies.team=='CBH')|
 (goalies.season==1965)&(goalies.team=='CBH')|
 (goalies.season==1964)&(goalies.team=='MTL')|
 (goalies.season==1963)&(goalies.team=='DET')|
 (goalies.season==1962)&(goalies.team=='MTL')|
 (goalies.season==1961)&(goalies.team=='MTL')|
 (goalies.season==1960)&(goalies.team=='DET')|
 (goalies.season==1959)&(goalies.team=='NYR')|
 (goalies.season==1958)&(goalies.team=='DET')|
 (goalies.season==1957)&(goalies.team=='DET')|
 (goalies.season==1956)&(goalies.team=='MTL')|
 (goalies.season==1955)&(goalies.team=='TOR')|
 (goalies.season==1954)&(goalies.team=='CBH')|
 (goalies.season==1953)&(goalies.team=='DET')|
 (goalies.season==1952)&(goalies.team=='DET')|
 (goalies.season==1951)&(goalies.team=='BOS')|
 (goalies.season==1950)&(goalies.team=='NYR')|
 (goalies.season==1949)&(goalies.team=='DET')|
 (goalies.season==1948)&(goalies.team=='NYR')|
 (goalies.season==1947)&(goalies.team=='MTL')|
 (goalies.season==1946)&(goalies.team=='CBH')|
 (goalies.season==1945)&(goalies.team=='MTL')|
 (goalies.season==1944)&(goalies.team=='TOR')|
 (goalies.season==1943)&(goalies.team=='BOS')|
 (goalies.season==1942)&(goalies.team=='BRO')|
 (goalies.season==1941)&(goalies.team=='BOS')|
 (goalies.season==1940)&(goalies.team=='DET')|
 (goalies.season==1939)&(goalies.team=='MTL')|
 (goalies.season==1938)&(goalies.team=='BOS')|
 (goalies.season==1937)&(goalies.team=='MTL')|
 (goalies.season==1936)&(goalies.team=='BOS')|
 (goalies.season==1935)&(goalies.team=='BOS')|
 (goalies.season==1934)&(goalies.team=='MTL')|
 (goalies.season==1933)&(goalies.team=='BOS')|
 (goalies.season==1932)&(goalies.team=='MTL')|
 (goalies.season==1931)&(goalies.team=='MTL')|
 (goalies.season==1930)&(goalies.team=='MTM')|
 (goalies.season==1929)&(goalies.team=='NYA')|
 (goalies.season==1928)&(goalies.team=='MTL')|
 (goalies.season==1927)&(goalies.team=='MTL')|
 (goalies.season==1926)&(goalies.team=='MTM')|
 (goalies.season==1925)&(goalies.team=='HAM')|
 (goalies.season==1924)&(goalies.team=='OTS')]

In [70]:
goalie_avg=goalies.groupby('season',as_index=False).mean()
#goalie_avg.to_csv('goalie_averages.csv')

In [72]:
skater_avg=skater.groupby('season',as_index=False).mean()
#skater_avg.to_csv('skater_avg.csv')

In [73]:
nba_avg=nba.groupby('Year',as_index=False).mean()
#nba_avg.to_csv('nba_avg.csv')

In [74]:
nba_mvp_copy = mvp_df.copy()

In [75]:
nba_avg.columns

Index(['Year', 'Unnamed: 0', 'age', 'gp', 'gs', 'mp', 'fg', 'fga', 'fg%', '3p',
       '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%', 'orb',
       'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'fouls', 'pts', 'selection'],
      dtype='object')

In [76]:
nba_avg.drop('Unnamed: 0',axis=1,inplace=True)

In [77]:
nba_mvp_copy=nba_mvp_copy[list(nba_avg.columns)]

In [78]:
#####
all_nba_players = nba.copy()

In [79]:
#####
all_nba_players.reset_index(inplace=True)

In [80]:
#####
all_nba_players=all_nba_players[list(nba_avg.columns)]

In [81]:
nba_avg[nba_avg.Year==1990]

,Year,age,gp,gs,mp,fg,fga,fg%,3p,3pa,...,orb,drb,trb,ast,stl,blk,tov,fouls,pts,selection
40,1990,26.747368,59.028947,29.131579,20.606842,3.466316,7.383158,0.447347,0.176579,0.557632,...,1.185,2.472632,3.658947,2.096053,0.727105,0.422368,1.350263,2.057632,8.950789,19.4

In [82]:
nba_mvp_copy.reset_index(inplace=True)

In [83]:
nba_avg.reset_index(inplace=True)

In [84]:
def find_relative_metrics(year,df_avg,df_rel,year_metric):
    df1=df_avg[df_avg[year_metric]==year]
    df2=df_rel[df_rel[year_metric]==year]
    for col in df2.columns:
        df2[col]=df2[col]/list(df1[col].unique())[0]
    return df2

In [85]:
nba_relative_dfs=[]
for i in nba_avg.Year:
    df_to_add = find_relative_metrics(i,nba_avg,nba_mvp_copy,'Year')
    nba_relative_dfs.append(df_to_add)

In [86]:
#####
nba_relative_dfs_every_player=[]
for i in nba_avg.Year:
    df_to_add2 = find_relative_metrics(i,nba_avg,all_nba_players,'Year')
    nba_relative_dfs_every_player.append(df_to_add2)

In [87]:
nba_relative_teams=pd.concat(nba_relative_dfs)

In [88]:
#####
nba_relative_teams_every=pd.concat(nba_relative_dfs_every_player)

In [89]:
#####
nba_relative_teams_every

,Year,age,gp,gs,mp,fg,fga,fg%,3p,3pa,...,orb,drb,trb,ast,stl,blk,tov,fouls,pts,selection
0,1.0,1.194987,1.252921,NaN,NaN,0.929335,1.109049,0.864557,NaN,NaN,...,NaN,NaN,NaN,1.594891,NaN,NaN,NaN,1.372059,1.042256,NaN
1,1.0,1.117891,0.974494,NaN,NaN,0.848523,0.757399,1.152743,NaN,NaN,...,NaN,NaN,NaN,1.253129,NaN,NaN,NaN,0.807094,0.813817,NaN
2,1.0,0.963699,1.332471,NaN,NaN,1.050553,1.000849,1.081471,NaN,NaN,...,NaN,NaN,NaN,1.196169,NaN,NaN,NaN,1.170286,0.928036,NaN
3,1.0,0.925151,0.298314,NaN,NaN,0.606088,0.770924,0.793286,NaN,NaN,...,NaN,NaN,NaN,0.740485,NaN,NaN,NaN,0.766739,0.599654,NaN
4,1.0,0.848055,1.193258,NaN,NaN,2.303135,2.109898,1.124854,NaN,NaN,...,NaN,NaN,NaN,2.221456,NaN,NaN,NaN,0.887803,2.127345,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21351,1.0,0.772313,1.644765,3.490244,1.595934,2.036293,2.204008,0.950192,2.167456,2.371188,...,0.953666,1.044654,1.024021,4.215436,1.456933,0.511090,3.564602,0.983947,2.217427,0.315664
21352,1.0,1.004007,0.994981,2.025203,1.311868,1.221776,0.995359,1.252525,0.114077,0.158079,...,2.622582,1.657038,1.881984,1.092891,1.295052,2.044359,1.219469,1.910014,1.172566,0.180379
21353,1.0,1.119854,0.121834,0.043089,0.800550,0.845845,0.710970,1.211608,0.000000,0.079040,...,2.145749,0.792496,1.107050,0.364297,0.323763,1.277724,0.656637,1.910014,0.893937,0.766613
21354,1.0,0.849545,1.198038,1.077236,0.945165,0.971155,0.796287,1.257072,0.000000,0.000000,...,2.145749,1.296812,1.494517,0.468382,0.323763,1.022179,0.938053,1.099705,0.905546,0.000000
21355,1.0,0.810929,1.198038,1.594309,0.909011,1.127793,0.910042,1.270711,0.000000,0.000000,...,2.264957,1.512948,1.688251,0.572467,0.323763,2.299904,1.125664,1.331222,1.033252,2.886072

In [90]:
nba.columns

Index(['Unnamed: 0', 'name', 'pos', 'age', 'team', 'gp', 'gs', 'mp', 'fg',
       'fga', 'fg%', '3p', '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft',
       'fta', 'ft%', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'fouls',
       'pts', 'Year', 'school', 'selection'],
      dtype='object')

In [91]:
for col in ['name','pos','age','team','school','Year']:
    nba_relative_teams[col]=mvp_df[col]

In [92]:
####
for col in ['name','pos','age','team','school','Year']:
    nba_relative_teams_every[col]=nba[col]

In [93]:
####
nba_relative_teams_every

,Year,age,gp,gs,mp,fg,fga,fg%,3p,3pa,...,stl,blk,tov,fouls,pts,selection,name,pos,team,school
0,1950,31,1.252921,NaN,NaN,0.929335,1.109049,0.864557,NaN,NaN,...,NaN,NaN,NaN,1.372059,1.042256,NaN,Curly Armstrong,G-F,FTW,N/A
1,1950,29,0.974494,NaN,NaN,0.848523,0.757399,1.152743,NaN,NaN,...,NaN,NaN,NaN,0.807094,0.813817,NaN,Cliff Barker,SG,INO,N/A
2,1950,25,1.332471,NaN,NaN,1.050553,1.000849,1.081471,NaN,NaN,...,NaN,NaN,NaN,1.170286,0.928036,NaN,Leo Barnhorst,SF,CHS,N/A
3,1950,24,0.298314,NaN,NaN,0.606088,0.770924,0.793286,NaN,NaN,...,NaN,NaN,NaN,0.766739,0.599654,NaN,Ed Bartels,F,NYK,N/A
4,1950,22,1.193258,NaN,NaN,2.303135,2.109898,1.124854,NaN,NaN,...,NaN,NaN,NaN,0.887803,2.127345,NaN,Ralph Beard,G,INO,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21351,2019,20,1.644765,3.490244,1.595934,2.036293,2.204008,0.950192,2.167456,2.371188,...,1.456933,0.511090,3.564602,0.983947,2.217427,0.315664,Trae Young,PG,ATL,Oklahoma
21352,2019,26,0.994981,2.025203,1.311868,1.221776,0.995359,1.252525,0.114077,0.158079,...,1.295052,2.044359,1.219469,1.910014,1.172566,0.180379,Cody Zeller,C,CHO,Indiana
21353,2019,29,0.121834,0.043089,0.800550,0.845845,0.710970,1.211608,0.000000,0.079040,...,0.323763,1.277724,0.656637,1.910014,0.893937,0.766613,Tyler Zeller,C,MEM,North Carolina
21354,2019,22,1.198038,1.077236,0.945165,0.971155,0.796287,1.257072,0.000000,0.000000,...,0.323763,1.022179,0.938053,1.099705,0.905546,0.000000,Ante Å½iÅ¾iÄ‡,C,CLE,N/A
21355,2019,21,1.198038,1.594309,0.909011,1.127793,0.910042,1.270711,0.000000,0.000000,...,0.323763,2.299904,1.125664,1.331222,1.033252,2.886072,Ivica Zubac,C,LAC,Mega Leks

In [94]:
nba_relative_teams

,index,Year,age,gp,gs,mp,fg,fga,fg%,3p,...,stl,blk,tov,fouls,pts,selection,name,pos,team,school
0,0.000000,1956,31,1.235452,NaN,1.572907,1.549725,1.439464,1.099782,NaN,...,NaN,NaN,NaN,1.243768,1.362175,NaN,Jack Coleman,PF,STL,N/A
1,0.166667,1956,22,1.120143,NaN,1.021312,0.834467,0.902521,0.955636,NaN,...,NaN,NaN,NaN,1.088297,0.851359,NaN,Al Ferrari,SF,STL,N/A
2,0.333333,1956,32,1.169561,NaN,0.896342,0.625850,0.731156,0.859539,NaN,...,NaN,NaN,NaN,1.476975,0.574667,NaN,Alex Hannum*,PF,STL,N/A
3,0.500000,1956,28,1.186034,NaN,1.327275,1.072886,1.153856,0.958306,NaN,...,NaN,NaN,NaN,1.321504,0.915211,NaN,Bob Harrison,PG,STL,N/A
4,0.666667,1956,27,1.153089,NaN,1.055787,0.864270,1.005340,0.875555,NaN,...,NaN,NaN,NaN,0.932826,0.776865,NaN,Jack McMahon,PG,STL,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,12.507246,2019,27,1.563542,3.317886,1.606264,2.067620,2.118692,1.002475,2.623762,...,1.618815,0.255545,2.157522,1.273343,2.124551,3.517400,Khris Middleton,SF,MIL,Texas A&M
864,12.521739,2019,27,0.934064,1.077236,1.399671,1.629034,1.677890,0.997928,2.851916,...,1.133170,1.788814,0.938053,1.331222,1.764654,0.000000,Nikola MirotiÄ‡,PF,MIL,N/A
865,12.536232,2019,23,0.081223,0.000000,0.377033,0.313276,0.355485,0.909274,0.342230,...,0.809407,0.000000,0.281416,0.173638,0.290239,0.000000,Jaylen Morris,SG,MIL,N/A
866,12.550725,2019,27,1.502624,0.517073,0.909011,0.689207,0.696751,1.027480,1.254843,...,0.647526,0.511090,0.281416,0.694551,0.696574,0.901897,Tony Snell,SF,MIL,New Mexico
867,12.565217,2019,22,0.974675,0.129268,0.950330,0.689207,0.739409,0.941099,1.140766,...,0.647526,1.022179,0.656637,1.041826,0.673355,0.000000,D.J. Wilson,PF,MIL,N/A

In [95]:
####
#nba_relative_teams_every.to_csv('relative_every_player.csv')

In [96]:
nhl_hart_copy = hart_df.copy()
nhl_hart_copy=nhl_hart_copy[list(skater_avg.columns)]

In [97]:
nhl_skater_relative_dfs=[]
for i in skater_avg.season:
    df_to_add = find_relative_metrics(i,skater_avg,nhl_hart_copy,'season')
    nhl_skater_relative_dfs.append(df_to_add)

In [98]:
hart_relative_skaters=pd.concat(nhl_skater_relative_dfs)

In [99]:
#####
every_single_skater = skater.copy()
every_single_skater=every_single_skater[list(skater_avg.columns)]

In [100]:
#####
nhl_every_skater_relative_dfs=[]
for i in skater_avg.season:
    df_to_add3 = find_relative_metrics(i,skater_avg,every_single_skater,'season')
    nhl_every_skater_relative_dfs.append(df_to_add3)

In [101]:
#####
every_nhl_skater_df=pd.concat(nhl_every_skater_relative_dfs)

In [102]:
#####
every_nhl_skater_df

,season,age,gp,goals,assists,points,plusmin,plm,goals_ev,goals_pp,...,shots,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,toi_avg
38761,1.0,0.802247,0.210899,0.000000,0.000000,0.000000,NaN,0.884193,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
38762,1.0,0.840449,0.030128,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
38763,1.0,0.878652,0.120514,0.000000,0.000000,0.000000,NaN,0.110524,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
38764,1.0,0.878652,0.030128,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
38765,1.0,0.955056,0.301285,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,1.0,1.033916,1.735138,2.745899,1.648741,2.060363,11.838631,1.337952,2.351178,4.788303,...,2.649057,1.812525,1.501540,0.026503,0.145302,1.042902,0.571914,1.259442,1.950790,1.148670
1072,1.0,0.880743,0.599801,0.261514,0.235534,0.245281,6.577017,0.095568,0.335883,0.000000,...,0.358984,0.365650,0.448736,0.026503,0.092465,0.164669,0.824447,0.885125,0.537462,0.670354
1073,1.0,0.880743,0.278479,0.000000,0.235534,0.147169,1.315403,0.000000,0.000000,0.000000,...,0.160924,0.166443,0.103554,0.026503,0.079256,0.054890,0.928431,0.000000,0.000000,0.657232
1074,1.0,0.880743,0.214215,0.261514,0.000000,0.098113,3.946210,0.000000,0.335883,0.000000,...,0.198060,0.152027,0.310663,0.000000,0.013209,0.082334,0.000000,1.604289,1.504895,0.780398
1075,1.0,0.880743,0.107107,0.000000,0.000000,0.000000,1.315403,0.095568,0.000000,0.000000,...,0.000000,0.047181,0.034518,0.000000,0.000000,0.027445,0.000000,0.000000,0.000000,0.484385

In [103]:
####
for col in ['name', 'age', 'team', 'pos','season']:
    every_nhl_skater_df[col]=skater[col]

In [104]:
####
every_nhl_skater_df

,season,age,gp,goals,assists,points,plusmin,plm,goals_ev,goals_pp,...,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,toi_avg,name,team,pos
38761,1940,21.0,0.210899,0.000000,0.000000,0.000000,NaN,0.884193,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,Rhys Thomson,MTL,D
38762,1940,22.0,0.030128,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,Stan Smith,NYR,C
38763,1940,23.0,0.120514,0.000000,0.000000,0.000000,NaN,0.110524,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,Chuck Shannon,NYA,D
38764,1940,23.0,0.030128,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,John Polich,NYR,RW
38765,1940,25.0,0.301285,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,Gordie Poirier,MTL,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1071,2019,27.0,1.735138,2.745899,1.648741,2.060363,11.838631,1.337952,2.351178,4.788303,...,0.026503,0.145302,1.042902,0.571914,1.259442,1.950790,1.148670,Jason Zucker,MIN,LW
1072,2019,23.0,0.599801,0.261514,0.235534,0.245281,6.577017,0.095568,0.335883,0.000000,...,0.026503,0.092465,0.164669,0.824447,0.885125,0.537462,0.670354,Valentin Zykov,TOT,LW
1073,2019,23.0,0.278479,0.000000,0.235534,0.147169,1.315403,0.000000,0.000000,0.000000,...,0.026503,0.079256,0.054890,0.928431,0.000000,0.000000,0.657232,Valentin Zykov,CAR,LW
1074,2019,23.0,0.214215,0.261514,0.000000,0.098113,3.946210,0.000000,0.335883,0.000000,...,0.000000,0.013209,0.082334,0.000000,1.604289,1.504895,0.780398,Valentin Zykov,VEG,LW
1075,2019,23.0,0.107107,0.000000,0.000000,0.000000,1.315403,0.095568,0.000000,0.000000,...,0.000000,0.000000,0.027445,0.000000,0.000000,0.000000,0.484385,Valentin Zykov,EDM,LW

In [105]:
hart_relative_skaters

,season,age,gp,goals,assists,points,plusmin,plm,goals_ev,goals_pp,...,shots,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,toi_avg
1972,1.0,1.107865,0.030128,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
1973,1.0,1.222472,0.361542,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
1974,1.0,0.802247,0.060257,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
1975,1.0,1.069663,0.030128,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
1976,1.0,0.840449,1.446167,0.164053,0.000000,0.066798,NaN,2.210484,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.129239,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,1.0,0.842450,1.692295,5.361040,4.004086,4.513176,-35.515892,1.337952,3.526768,13.680865,...,2.364345,1.959309,0.535031,5.764428,5.561099,1.180125,1.886573,2.755010,3.905107,1.273128
21,1.0,1.072209,0.299900,0.000000,0.157023,0.098113,-5.261614,0.191136,0.000000,0.000000,...,0.247575,0.264736,0.103554,0.000000,0.000000,0.247003,0.000000,0.000000,0.000000,0.970692
22,1.0,0.765864,1.606610,0.784542,2.041299,1.569800,-15.784841,1.337952,1.007648,0.000000,...,1.584483,1.761412,1.674131,0.013252,0.013209,2.552364,1.856863,0.601608,0.601958,1.205580
23,1.0,1.072209,1.756560,5.884069,4.161109,4.807513,-5.261614,1.768008,4.030592,12.996821,...,2.896633,1.967172,1.242654,6.705288,5.904540,1.097791,1.971988,2.468137,4.129284,1.231473
24,1.0,1.225382,1.006809,0.261514,1.177672,0.833956,-15.784841,0.382272,0.335883,0.000000,...,0.705590,1.264704,1.018286,0.000000,0.000000,1.948579,0.000000,0.450327,0.320190,1.381299

In [106]:
hart_df.columns

Index(['name', 'age', 'team', 'pos', 'gp', 'goals', 'assists', 'points',
       'plusmin', 'plm', 'goals_ev', 'goals_pp', 'goals_sh', 'goals_gw',
       'assists_ev', 'assists_pp', 'assists_sh', 'shots', 'toi', 'hits',
       'faceoff_wins', 'faceoff_losses', 'block', 'faceoff_pct', 'season',
       'shot_pct', 'gpg', 'toi_avg'],
      dtype='object')

In [107]:
for col in ['name', 'age', 'team', 'pos','season']:
    hart_relative_skaters[col]=hart_df[col]

In [109]:
####
#every_nhl_skater_df.to_csv('relative_skater_stats.csv')

In [110]:
goalie_hart_copy = hart_df_goalie.copy()
goalie_hart_copy=goalie_hart_copy[list(goalie_avg.columns)]

In [111]:
nhl_goalie_relative_dfs=[]
for i in goalie_avg.season:
    df_to_add = find_relative_metrics(i,goalie_avg,goalie_hart_copy,'season')
    nhl_goalie_relative_dfs.append(df_to_add)

In [112]:
hart_relative_goalies=pd.concat(nhl_goalie_relative_dfs)

In [113]:
for col in ['name', 'age', 'team','season']:
    hart_relative_goalies[col]=hart_df_goalie[col]

In [114]:
hart_relative_skaters.reset_index(inplace=True)
nba_relative_teams.reset_index(inplace=True)
hart_relative_goalies.reset_index(inplace=True)

In [116]:
#hart_relative_skaters.to_csv('relative_skater_hart_teams.csv')
#nba_relative_teams.to_csv('relative_mvp_teams.csv')
#hart_relative_goalies.to_csv('relative_goalie_hart_teams.csv')

In [117]:
#####
all_goalie_data = goalies.copy()
all_goalie_data=all_goalie_data[list(goalie_avg.columns)]

In [118]:
####
nhl_all_goalie_relative_dfs=[]
for i in goalie_avg.season:
    df_to_add4 = find_relative_metrics(i,goalie_avg,all_goalie_data,'season')
    nhl_all_goalie_relative_dfs.append(df_to_add4)

In [119]:
####
all_relative_goalie_df=pd.concat(nhl_all_goalie_relative_dfs)

In [120]:
####
for col in ['name', 'age', 'team','season']:
    all_relative_goalie_df[col]=goalies[col]

In [121]:
all_relative_goalie_df

,season,Unnamed: 0,age,gp,gs,wins,losses,ties,goals_against,shots,...,really_bad_starts,ga_pct_minus,gs_above_avg,goals_scored,assists,points,plm,mpg,name,team
0,1918,0.000000,25,1.913043,NaN,1.588235,2.294118,NaN,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.081585,Clint Benedict*,OTS
1,1918,0.400000,28,0.347826,NaN,0.352941,0.352941,NaN,0.403509,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.978842,Art Brooks,TRA
2,1918,0.800000,23,0.173913,NaN,0.176471,0.000000,NaN,0.175439,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.711885,Sammy Hebert,TRA
3,1918,1.200000,29,1.391304,NaN,1.588235,1.235294,NaN,1.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.073381,Hap Holmes*,TRA
4,1918,1.600000,36,0.347826,NaN,0.176471,0.529412,NaN,0.614035,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.067828,Bert Lindsay,MTW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4274,2019,1.009924,31,1.196691,1.170732,0.804878,1.581000,1.029520,1.401032,1.165730,...,2.296296,1.651865,-27.765306,NaN,1.409091,1.409091,0.000000,1.014964,Cam Talbot,PHI
4275,2019,1.010161,25,1.265074,1.243902,1.097561,1.302000,1.715867,1.414005,1.339946,...,1.377778,1.459147,-8.739796,NaN,1.409091,1.409091,0.000000,1.058837,Linus Ullmark,BUF
4276,2019,1.010397,30,1.675368,1.792683,1.463415,1.767000,3.088561,1.764263,1.749180,...,2.066667,1.390320,-1.775510,NaN,0.000000,0.000000,1.631579,1.079861,Semyon Varlamov,COL
4277,2019,1.010633,24,1.812132,1.939024,2.853659,0.930000,1.372694,1.660483,2.002904,...,1.607407,1.142540,40.408163,NaN,4.227273,4.227273,4.894737,1.126716,Andrei Vasilevskiy,TBL
4278,2019,1.010870,34,1.128309,1.060976,1.170732,1.116000,1.372694,1.491840,1.301362,...,1.148148,1.583037,-22.469388,NaN,1.409091,1.409091,3.263158,1.062919,Cam Ward,CHI

In [122]:
#all_relative_goalie_df.to_csv('relative_goalies_all.csv')