In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [2]:
goalies=pd.read_csv('goalie_data.csv')
skater=pd.read_csv('skater_data.csv')
nba=pd.read_csv('nba_season_data.csv')

In [3]:
hart = pd.read_csv('hart_trophy_winners.csv')
mvp = pd.read_csv('nba_mvps.csv')

In [4]:
hart.index

RangeIndex(start=0, stop=95, step=1)

In [5]:
hart.head()

   Unnamed: 0           Player Team  Season
0           0  Nikita Kucherov  TBL    2019
1           1      Taylor Hall  NJD    2018
2           2   Connor McDavid  EDM    2017
3           3     Patrick Kane  CHI    2016
4           4      Carey Price  MTL    2015

In [6]:
hart.iloc[13,:].Team='SJS'

In [7]:
hart.reset_index(inplace=True)

In [8]:
hart.drop(['index','Unnamed: 0'],axis=1,inplace=True)

In [9]:
skater.reset_index(inplace=True)

In [10]:
skater.tail()

,index,Unnamed: 0,season,team,name,age,pos,gp,goals,assists,...,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,ppg,toi_avg
41051,41051,782,2019,WSH,Devante Smith-Pelly,26,RW,54.0,4.0,4.0,...,586.0,78.0,16.0,25.0,36.0,0.390,0.066667,0.074074,0.148148,10.851852
41052,41052,803,2019,WSH,Chandler Stephenson,24,C,64.0,5.0,6.0,...,775.0,38.0,47.0,48.0,33.0,0.495,0.138889,0.078125,0.171875,12.109375
41053,41053,866,2019,WSH,Jakub Vrana,22,LW,82.0,24.0,23.0,...,1151.0,47.0,4.0,6.0,32.0,0.400,0.149068,0.292683,0.573171,14.036585
41054,41054,869,2019,WSH,Nathan Walker,24,C,3.0,0.0,1.0,...,24.0,5.0,0.0,0.0,0.0,0.000,0.000000,0.000000,0.333333,8.000000
41055,41055,889,2019,WSH,Tom Wilson,24,RW,63.0,22.0,18.0,...,1143.0,200.0,29.0,24.0,52.0,0.547,0.169231,0.349206,0.634921,18.142857

In [11]:
skater.drop(['index','Unnamed: 0'],axis=1,inplace=True)

In [12]:
hart.head()

            Player Team  Season
0  Nikita Kucherov  TBL    2019
1      Taylor Hall  NJD    2018
2   Connor McDavid  EDM    2017
3     Patrick Kane  CHI    2016
4      Carey Price  MTL    2015

In [13]:
hart_dict={}
for i in range(len(hart)):
    hart_dict[hart.Season[i]]=hart.Team[i]

In [14]:
list(hart_dict.keys())[0:5]

[2019, 2018, 2017, 2016, 2015]

In [15]:
list(hart_dict.values())[0:5]

['TBL', 'NJD', 'EDM', 'CHI', 'MTL']

In [16]:
2019 in list(hart_dict.keys())[0:5]

True

In [17]:
'TBL' in list(hart_dict.values())[0:5]

True

In [18]:
list(hart_dict.items())[0][0]

2019

In [19]:
list(hart_dict.items())[0][1]

'TBL'

In [20]:
skater[(skater.season==2019)&(skater.team=='TBL')|(skater.season==2018)&(skater.team=='TBL')]

,season,team,name,age,pos,gp,goals,assists,points,plusmin,...,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,ppg,toi_avg
39980,2018,TBL,Michael Bournival,25,LW,5.0,0.0,0.0,0.0,0.0,...,47.0,8.0,0.0,0.0,5.0,0.000,0.000000,0.000000,0.000000,9.400000
39981,2018,TBL,Ryan Callahan,32,RW,67.0,5.0,13.0,18.0,-4.0,...,893.0,138.0,27.0,39.0,40.0,0.409,0.048077,0.074627,0.268657,13.328358
39982,2018,TBL,Anthony Cirelli,20,C,18.0,5.0,6.0,11.0,11.0,...,238.0,17.0,96.0,118.0,6.0,0.449,0.192308,0.277778,0.611111,13.222222
39983,2018,TBL,Braydon Coburn,32,D,72.0,1.0,14.0,15.0,3.0,...,1154.0,77.0,0.0,0.0,75.0,0.000,0.013699,0.013889,0.208333,16.027778
39984,2018,TBL,Cory Conacher,28,LW,36.0,8.0,4.0,12.0,0.0,...,360.0,32.0,4.0,12.0,14.0,0.250,0.177778,0.222222,0.333333,10.000000
39985,2018,TBL,Jake Dotchin,23,D,48.0,3.0,8.0,11.0,17.0,...,791.0,95.0,0.0,0.0,61.0,0.000,0.062500,0.062500,0.229167,16.479167
39986,2018,TBL,Gabriel Dumont,27,C,30.0,1.0,1.0,2.0,1.0,...,271.0,62.0,41.0,62.0,16.0,0.398,0.026316,0.033333,0.066667,9.033333
39987,2018,TBL,Adam Erne,22,LW,23.0,3.0,1.0,4.0,-1.0,...,233.0,37.0,5.0,3.0,8.0,0.625,0.103448,0.130435,0.173913,10.130435
39988,2018,TBL,Dan Girardi,33,D,77.0,6.0,12.0,18.0,18.0,...,1339.0,133.0,0.0,1.0,155.0,0.000,0.064516,0.077922,0.233766,17.389610
39989,2018,TBL,Yanni Gourde,26,C,82.0,25.0,39.0,64.0,34.0,...,1325.0,57.0,158.0,206.0,42.0,0.434,0.183824,0.304878,0.780488,16.158537
39990,2018,TBL,Victor Hedman,27,D,77.0,17.0,46.0,63.0,32.0,...,1991.0,139.0,1.0,1.0,110.0,0.500,0.078704,0.220779,0.818182,25.857143
39991,2018,TBL,Tyler Johnson,27,C,81.0,21.0,29.0,50.0,3.0,...,1376.0,48.0,360.0,359.0,47.0,0.501,0.112903,0.259259,0.617284,16.987654
39992,2018,TBL,Alex Killorn,28,C,82.0,15.0,32.0,47.0,22.0,...,1353.0,82.0,22.0,33.0,25.0,0.400,0.096154,0.182927,0.573171,16.500000
39993,2018,TBL,Slater Koekkoek,23,D,35.0,4.0,4.0,8.0,4.0,...,393.0,36.0,0.0,0.0,24.0,0.000,0.093023,0.114286,0.228571,11.228571
39994,2018,TBL,Nikita Kucherov,24,RW,80.0,39.0,61.0,100.0,15.0,...,1586.0,31.0,3.0,2.0,15.0,0.600,0.139785,0.487500,1.250000,19.825000
39995,2018,TBL,Chris Kunitz,38,LW,82.0,13.0,16.0,29.0,8.0,...,980.0,131.0,7.0,12.0,30.0,0.368,0.160494,0.158537,0.353659,11.951220
39996,2018,TBL,Ryan McDonagh,28,D,63.0,4.0,25.0,29.0,8.0,...,1470.0,71.0,0.0,0.0,163.0,0.000,0.040404,0.063492,0.460317,23.333333
39997,2018,TBL,J.T. Miller,24,C,82.0,23.0,35.0,58.0,-4.0,...,1396.0,124.0,437.0,368.0,26.0,0.543,0.160839,0.280488,0.707317,17.024390
39998,2018,TBL,Ondrej Palat,26,LW,56.0,11.0,24.0,35.0,16.0,...,952.0,80.0,7.0,24.0,48.0,0.226,0.100917,0.196429,0.625000,17.000000
39999,2018,TBL,Cedric Paquette,24,C,56.0,5.0,4.0,9.0,-5.0,...,572.0,112.0,234.0,265.0,32.0,0.469,0.078125,0.089286,0.160714,10.214286
40000,2018,TBL,Matthew Peca,24,C,10.0,2.0,3.0,5.0,6.0,...,137.0,11.0,78.0,59.0,8.0,0.569,0.117647,0.200000,0.500000,13.700000
40001,2018,TBL,Brayden Point,21,C,82.0,32.0,34.0,66.0,18.0,...,1609.0,26.0,557.0,617.0,57.0,0.474,0.147465,0.390244,0.804878,19.621951
40002,2018,TBL,Mikhail Sergachev,19,D,79.0,9.0,31.0,40.0,11.0,...,1213.0,90.0,0.0,0.0,64.0,0.000,0.063830,0.113924,0.506329,15.354430
40003,2018,TBL,Steven Stamkos,27,C,78.0,27.0,59.0,86.0,18.0,...,1464.0,61.0,466.0,426.0,35.0,0.522,0.127358,0.346154,1.102564,18.769231
40004,2018,TBL,Anton Stralman,31,D,80.0,4.0,14.0,18.0,29.0,...,1719.0,104.0,0.0,0.0,100.0,0.000,0.030534,0.050000,0.225000,21.487500
40005,2018,TBL,Andrej Sustr,27,D,44.0,2.0,5.0,7.0,-5.0,...,565.0,9.0,0.0,0.0,33.0,0.000,0.044444,0.045455,0.159091,12.840909
40898,2019,TBL,Ryan Callahan,33,RW,52.0,7.0,10.0,17.0,7.0,...,579.0,89.0,6.0,15.0,25.0,0.286,0.092105,0.134615,0.326923,11.134615
40899,2019,TBL,Erik Cernak,21,D,58.0,5.0,11.0,16.0,25.0,...,1117.0,198.0,0.0,0.0,79.0,0.000,0.046729,0.086207,0.275862,19.258621
40900,2019,TBL,Anthony Cirelli,21,C,82.0,19.0,20.0,39.0,25.0,...,1217.0,94.0,502.0,449.0,49.0,0.528,0.154472,0.231707,0.475610,14.841463
40901,2019,TBL,Braydon Coburn,33,D,74.0,4.0,19.0,23.0,4.0,...,1192.0,96.0,0.0,0.0,62.0,0.000,0.035398,0.054054,0.310811,16.108108
40902,2019,TBL,Cory Conacher,29,LW,1.0,0.0,0.0,0.0,0.0,...,9.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.000000,0.000000,9.000000
40903,2019,TBL,Adam Erne,23,LW,65.0,7.0,13.0,20.0,10.0,...,686.0,159.0,11.0,12.0,26.0,0.478,0.100000,0.107692,0.307692,10.553846
40904,2019,TBL,Cameron Gaunce,28,D,2.0,0.0,0.0,0.0,3.0,...,31.0,4.0,0.0,0.0,1.0,0.000,0.000000,0.000000,0.000000,15.500000
40905,2019,TBL,Dan Girardi,34,D,62.0,4.0,12.0,16.0,6.0,...,1104.0,151.0,0.0,0.0,108.0,0.000,0.053333,0.064516,0.258065,17.806452
40906,2019,TBL,Yanni Gourde,27,C,80.0,22.0,26.0,48.0,9.0,...,1267.0,83.0,151.0,132.0,30.0,0.534,0.169231,0.275000,0.600000,15.837500
40907,2019,TBL,Victor Hedman,28,D,70.0,12.0,42.0,54.0,24.0,...,1594.0,59.0,0.0,1.0,97.0,0.000,0.065934,0.171429,0.771429,22.771429
40908,2019,TBL,Tyler Johnson,28,C,80.0,29.0,18.0,47.0,15.0,...,1276.0,50.0,230.0,243.0,32.0,0.486,0.177914,0.362500,0.587500,15.950000
40909,2019,TBL,Mathieu Joseph,21,RW,70.0,13.0,13.0,26.0,5.0,...,795.0,129.0,10.0,24.0,14.0,0.294,0.136842,0.185714,0.371429,11.357143
40910,2019,TBL,Alex Killorn,29,C,82.0,18.0,22.0,40.0,22.0,...,1220.0,88.0,2.0,8.0,23.0,0.200,0.117647,0.219512,0.487805,14.878049
40911,2019,TBL,Slater Koekkoek,24,D,31.0,2.0,4.0,6.0,4.0,...,491.0,54.0,0.0,0.0,48.0,0.000,0.055556,0.064516,0.193548,15.838710
40912,2019,TBL,Nikita Kucherov,25,RW,82.0,41.0,87.0,128.0,24.0,...,1637.0,44.0,0.0,3.0,31.0,0.000,0.166667,0.500000,1.560976,19.963415
40913,2019,TBL,Danick Martel,24,LW,9.0,0.0,2.0,2.0,3.0,...,92.0,12.0,1.0,1.0,1.0,0.500,0.000000,0.000000,0.222222,10.222222
40914,2019,TBL,Ryan McDonagh,29,D,82.0,9.0,37.0,46.0,38.0,...,1811.0,98.0,0.0,0.0,161.0,0.000,0.070312,0.109756,0.560976,22.085366
40915,2019,TBL,J.T. Miller,25,C,75.0,13.0,34.0,47.0,8.0,...,1100.0,115.0,259.0,265.0,23.0,0.494,0.120370,0.173333,0.626667,14.666667
40916,2019,TBL,Ondrej Palat,27,LW,64.0,8.0,26.0,34.0,4.0,...,953.0,104.0,2.0,15.0,34.0,0.118,0.080000,0.125000,0.531250,14.890625
40917,2019,TBL,Cedric Paquette,25,C,80.0,13.0,4.0,17.0,7.0,...,960.0,269.0,404.0,364.0,61.0,0.526,0.149425,0.162500,0.212500,12.000000
40918,2019,TBL,Brayden Point,22,C,79.0,41.0,51.0,92.0,27.0,...,1495.0,31.0,435.0,421.0,43.0,0.508,0.214660,0.518987,1.164557,18.924051
40919,2019,TBL,Jan Rutta,28,D,37.0,2.0,6.0,8.0,4.0,...,577.0,24.0,0.0,0.0,30.0,0.000,0.047619,0.054054,0.216216,15.594595
40920,2019,TBL,Mikhail Sergachev,20,D,75.0,6.0,26.0,32.0,12.0,...,1344.0,97.0,1.0,1.0,93.0,0.500,0.046875,0.080000,0.426667,17.920000
40921,2019,TBL,Steven Stamkos,28,C,82.0,45.0,53.0,98.0,4.0,...,1501.0,72.0,506.0,447.0,40.0,0.531,0.192308,0.548780,1.195122,18.304878
40922,2019,TBL,Anton Stralman,32,D,47.0,2.0,15.0,17.0,12.0,...,965.0,59.0,0.0,0.0,71.0,0.000,0.035088,0.042553,0.361702,20.531915

In [21]:
hart_lst=[]
for season in list(hart_dict.keys()):
    hart_lst.append(f"(skater.season=={season})&(skater.team=='{hart_dict[season]}')|")

In [22]:
hart_lst[0:10]

["(skater.season==2019)&(skater.team=='TBL')|",
 "(skater.season==2018)&(skater.team=='NJD')|",
 "(skater.season==2017)&(skater.team=='EDM')|",
 "(skater.season==2016)&(skater.team=='CHI')|",
 "(skater.season==2015)&(skater.team=='MTL')|",
 "(skater.season==2014)&(skater.team=='PIT')|",
 "(skater.season==2013)&(skater.team=='WSH')|",
 "(skater.season==2012)&(skater.team=='PIT')|",
 "(skater.season==2011)&(skater.team=='ANA')|",
 "(skater.season==2010)&(skater.team=='VAN')|"]

In [23]:
len(hart_lst)

95

## this was hard to automate - very frustrating to write

In [24]:
hart_df=skater[(skater.season==2019)&(skater.team=='TBL')|
(skater.season==2018)&(skater.team=='NJD')|
(skater.season==2017)&(skater.team=='EDM')|
(skater.season==2016)&(skater.team=='CHI')|
(skater.season==2015)&(skater.team=='MTL')|
(skater.season==2014)&(skater.team=='PIT')|
(skater.season==2013)&(skater.team=='WSH')|
(skater.season==2012)&(skater.team=='PIT')|
(skater.season==2011)&(skater.team=='ANA')|
(skater.season==2010)&(skater.team=='VAN')|
 (skater.season==2009)&(skater.team=='WSH')|
 (skater.season==2008)&(skater.team=='WSH')|
 (skater.season==2007)&(skater.team=='PIT')|
 (skater.season==2006)&(skater.team=='SJS')|
 (skater.season==2004)&(skater.team=='TBL')|
 (skater.season==2003)&(skater.team=='COL')|
 (skater.season==2002)&(skater.team=='MTL')|
 (skater.season==2001)&(skater.team=='COL')|
 (skater.season==2000)&(skater.team=='STL')|
 (skater.season==1999)&(skater.team=='PIT')|
 (skater.season==1998)&(skater.team=='BUF')|
 (skater.season==1997)&(skater.team=='BUF')|
 (skater.season==1996)&(skater.team=='PIT')|
 (skater.season==1995)&(skater.team=='PHI')|
 (skater.season==1994)&(skater.team=='DET')|
 (skater.season==1993)&(skater.team=='PIT')|
 (skater.season==1992)&(skater.team=='NYR')|
 (skater.season==1991)&(skater.team=='STL')|
 (skater.season==1990)&(skater.team=='EDM')|
 (skater.season==1989)&(skater.team=='LAK')|
 (skater.season==1988)&(skater.team=='PIT')|
 (skater.season==1987)&(skater.team=='EDM')|
 (skater.season==1986)&(skater.team=='EDM')|
 (skater.season==1985)&(skater.team=='EDM')|
 (skater.season==1984)&(skater.team=='EDM')|
 (skater.season==1983)&(skater.team=='EDM')|
 (skater.season==1982)&(skater.team=='EDM')|
 (skater.season==1981)&(skater.team=='EDM')|
 (skater.season==1980)&(skater.team=='EDM')|
 (skater.season==1979)&(skater.team=='NYI')|
 (skater.season==1978)&(skater.team=='MTL')|
 (skater.season==1977)&(skater.team=='MTL')|
 (skater.season==1976)&(skater.team=='PHI')|
 (skater.season==1975)&(skater.team=='PHI')|
 (skater.season==1974)&(skater.team=='BOS')|
 (skater.season==1973)&(skater.team=='PHI')|
 (skater.season==1972)&(skater.team=='BOS')|
 (skater.season==1971)&(skater.team=='BOS')|
 (skater.season==1970)&(skater.team=='BOS')|
 (skater.season==1969)&(skater.team=='BOS')|
 (skater.season==1968)&(skater.team=='CBH')|
 (skater.season==1967)&(skater.team=='CBH')|
 (skater.season==1966)&(skater.team=='CBH')|
 (skater.season==1965)&(skater.team=='CBH')|
 (skater.season==1964)&(skater.team=='MTL')|
 (skater.season==1963)&(skater.team=='DET')|
 (skater.season==1962)&(skater.team=='MTL')|
 (skater.season==1961)&(skater.team=='MTL')|
 (skater.season==1960)&(skater.team=='DET')|
 (skater.season==1959)&(skater.team=='NYR')|
 (skater.season==1958)&(skater.team=='DET')|
 (skater.season==1957)&(skater.team=='DET')|
 (skater.season==1956)&(skater.team=='MTL')|
 (skater.season==1955)&(skater.team=='TOR')|
 (skater.season==1954)&(skater.team=='CBH')|
 (skater.season==1953)&(skater.team=='DET')|
 (skater.season==1952)&(skater.team=='DET')|
 (skater.season==1951)&(skater.team=='BOS')|
 (skater.season==1950)&(skater.team=='NYR')|
 (skater.season==1949)&(skater.team=='DET')|
 (skater.season==1948)&(skater.team=='NYR')|
 (skater.season==1947)&(skater.team=='MTL')|
 (skater.season==1946)&(skater.team=='CBH')|
 (skater.season==1945)&(skater.team=='MTL')|
 (skater.season==1944)&(skater.team=='TOR')|
 (skater.season==1943)&(skater.team=='BOS')|
 (skater.season==1942)&(skater.team=='BRO')|
 (skater.season==1941)&(skater.team=='BOS')|
 (skater.season==1940)&(skater.team=='DET')|
 (skater.season==1939)&(skater.team=='MTL')|
 (skater.season==1938)&(skater.team=='BOS')|
 (skater.season==1937)&(skater.team=='MTL')|
 (skater.season==1936)&(skater.team=='BOS')|
 (skater.season==1935)&(skater.team=='BOS')|
 (skater.season==1934)&(skater.team=='MTL')|
 (skater.season==1933)&(skater.team=='BOS')|
 (skater.season==1932)&(skater.team=='MTL')|
 (skater.season==1931)&(skater.team=='MTL')|
 (skater.season==1930)&(skater.team=='MTM')|
 (skater.season==1929)&(skater.team=='NYA')|
 (skater.season==1928)&(skater.team=='MTL')|
 (skater.season==1927)&(skater.team=='MTL')|
 (skater.season==1926)&(skater.team=='MTM')|
 (skater.season==1925)&(skater.team=='HAM')|
 (skater.season==1924)&(skater.team=='OTS')]

In [25]:
hart_df

,season,team,name,age,pos,gp,goals,assists,points,plusmin,...,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,ppg,toi_avg
255,1924,OTS,Georges Boucher*,27,D,21.0,13.0,9.0,22.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.619048,1.047619,0.000000
256,1924,OTS,Punch Broadbent*,31,RW,22.0,9.0,5.0,14.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.409091,0.636364,0.000000
257,1924,OTS,Earl Campbell,23,F,18.0,5.0,4.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.277778,0.500000,0.000000
258,1924,OTS,King Clancy*,20,D,24.0,8.0,10.0,18.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.333333,0.750000,0.000000
259,1924,OTS,Jack Darragh*,33,RW,18.0,2.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.111111,0.111111,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40918,2019,TBL,Brayden Point,22,C,79.0,41.0,51.0,92.0,27.0,...,1495.0,31.0,435.0,421.0,43.0,0.508,0.214660,0.518987,1.164557,18.924051
40919,2019,TBL,Jan Rutta,28,D,37.0,2.0,6.0,8.0,4.0,...,577.0,24.0,0.0,0.0,30.0,0.000,0.047619,0.054054,0.216216,15.594595
40920,2019,TBL,Mikhail Sergachev,20,D,75.0,6.0,26.0,32.0,12.0,...,1344.0,97.0,1.0,1.0,93.0,0.500,0.046875,0.080000,0.426667,17.920000
40921,2019,TBL,Steven Stamkos,28,C,82.0,45.0,53.0,98.0,4.0,...,1501.0,72.0,506.0,447.0,40.0,0.531,0.192308,0.548780,1.195122,18.304878
40922,2019,TBL,Anton Stralman,32,D,47.0,2.0,15.0,17.0,12.0,...,965.0,59.0,0.0,0.0,71.0,0.000,0.035088,0.042553,0.361702,20.531915

In [26]:
mvp.reset_index(inplace=True)

In [27]:
mvp.drop(['index','Unnamed: 0'],axis=1,inplace=True)

In [28]:
mvp_dict={}
for i in range(len(mvp)):
    mvp_dict[mvp.Season[i]]=mvp.Team[i]

In [29]:
mvp_dict

{2019: 'MIL',
 2018: 'HOU',
 2017: 'OKC',
 2016: 'GSW',
 2015: 'GSW',
 2014: 'OKC',
 2013: 'MIA',
 2012: 'MIA',
 2011: 'CHI',
 2010: 'CLE',
 2009: 'CLE',
 2008: 'LAL',
 2007: 'DAL',
 2006: 'PHO',
 2005: 'PHO',
 2004: 'MIN',
 2003: 'SAS',
 2002: 'SAS',
 2001: 'PHI',
 2000: 'LAL',
 1999: 'UTA',
 1998: 'CHI',
 1997: 'UTA',
 1996: 'CHI',
 1995: 'SAS',
 1994: 'HOU',
 1993: 'PHO',
 1992: 'CHI',
 1991: 'CHI',
 1990: 'LAL',
 1989: 'LAL',
 1988: 'CHI',
 1987: 'LAL',
 1986: 'BOS',
 1985: 'BOS',
 1984: 'BOS',
 1983: 'PHI',
 1982: 'HOU',
 1981: 'PHI',
 1980: 'LAL',
 1979: 'HOU',
 1978: 'POR',
 1977: 'LAL',
 1976: 'LAL',
 1975: 'BUF',
 1974: 'MIL',
 1973: 'BOS',
 1972: 'MIL',
 1971: 'MIL',
 1970: 'NYK',
 1969: 'BAL',
 1968: 'PHI',
 1967: 'PHI',
 1966: 'PHI',
 1965: 'BOS',
 1964: 'CIN',
 1963: 'BOS',
 1962: 'BOS',
 1961: 'BOS',
 1960: 'PHW',
 1959: 'STL',
 1958: 'BOS',
 1957: 'BOS',
 1956: 'STL'}

In [30]:
mvp_lst=[]
for season in list(mvp_dict.keys()):
    mvp_lst.append(f"(nba.Year=={season})&(nba.team=='{mvp_dict[season]}')|")

In [31]:
mvp_lst

["(nba.Year==2019)&(nba.team=='MIL')|",
 "(nba.Year==2018)&(nba.team=='HOU')|",
 "(nba.Year==2017)&(nba.team=='OKC')|",
 "(nba.Year==2016)&(nba.team=='GSW')|",
 "(nba.Year==2015)&(nba.team=='GSW')|",
 "(nba.Year==2014)&(nba.team=='OKC')|",
 "(nba.Year==2013)&(nba.team=='MIA')|",
 "(nba.Year==2012)&(nba.team=='MIA')|",
 "(nba.Year==2011)&(nba.team=='CHI')|",
 "(nba.Year==2010)&(nba.team=='CLE')|",
 "(nba.Year==2009)&(nba.team=='CLE')|",
 "(nba.Year==2008)&(nba.team=='LAL')|",
 "(nba.Year==2007)&(nba.team=='DAL')|",
 "(nba.Year==2006)&(nba.team=='PHO')|",
 "(nba.Year==2005)&(nba.team=='PHO')|",
 "(nba.Year==2004)&(nba.team=='MIN')|",
 "(nba.Year==2003)&(nba.team=='SAS')|",
 "(nba.Year==2002)&(nba.team=='SAS')|",
 "(nba.Year==2001)&(nba.team=='PHI')|",
 "(nba.Year==2000)&(nba.team=='LAL')|",
 "(nba.Year==1999)&(nba.team=='UTA')|",
 "(nba.Year==1998)&(nba.team=='CHI')|",
 "(nba.Year==1997)&(nba.team=='UTA')|",
 "(nba.Year==1996)&(nba.team=='CHI')|",
 "(nba.Year==1995)&(nba.team=='SAS')|",
 "(nba.Year==1994)&(nba.team=='HOU')|",
 "(nba.Year==1993)&(nba.team=='PHO')|",
 "(nba.Year==1992)&(nba.team=='CHI')|",
 "(nba.Year==1991)&(nba.team=='CHI')|",
 "(nba.Year==1990)&(nba.team=='LAL')|",
 "(nba.Year==1989)&(nba.team=='LAL')|",
 "(nba.Year==1988)&(nba.team=='CHI')|",
 "(nba.Year==1987)&(nba.team=='LAL')|",
 "(nba.Year==1986)&(nba.team=='BOS')|",
 "(nba.Year==1985)&(nba.team=='BOS')|",
 "(nba.Year==1984)&(nba.team=='BOS')|",
 "(nba.Year==1983)&(nba.team=='PHI')|",
 "(nba.Year==1982)&(nba.team=='HOU')|",
 "(nba.Year==1981)&(nba.team=='PHI')|",
 "(nba.Year==1980)&(nba.team=='LAL')|",
 "(nba.Year==1979)&(nba.team=='HOU')|",
 "(nba.Year==1978)&(nba.team=='POR')|",
 "(nba.Year==1977)&(nba.team=='LAL')|",
 "(nba.Year==1976)&(nba.team=='LAL')|",
 "(nba.Year==1975)&(nba.team=='BUF')|",
 "(nba.Year==1974)&(nba.team=='MIL')|",
 "(nba.Year==1973)&(nba.team=='BOS')|",
 "(nba.Year==1972)&(nba.team=='MIL')|",
 "(nba.Year==1971)&(nba.team=='MIL')|",
 "(nba.Year==1970)&(nba.team=='NYK')|",
 "(nba.Year==1969)&(nba.team=='BAL')|",
 "(nba.Year==1968)&(nba.team=='PHI')|",
 "(nba.Year==1967)&(nba.team=='PHI')|",
 "(nba.Year==1966)&(nba.team=='PHI')|",
 "(nba.Year==1965)&(nba.team=='BOS')|",
 "(nba.Year==1964)&(nba.team=='CIN')|",
 "(nba.Year==1963)&(nba.team=='BOS')|",
 "(nba.Year==1962)&(nba.team=='BOS')|",
 "(nba.Year==1961)&(nba.team=='BOS')|",
 "(nba.Year==1960)&(nba.team=='PHW')|",
 "(nba.Year==1959)&(nba.team=='STL')|",
 "(nba.Year==1958)&(nba.team=='BOS')|",
 "(nba.Year==1957)&(nba.team=='BOS')|",
 "(nba.Year==1956)&(nba.team=='STL')|"]

In [32]:
mvp_df = nba[(nba.Year==2019)&(nba.team=='MIL')|
 (nba.Year==2018)&(nba.team=='HOU')|
 (nba.Year==2017)&(nba.team=='OKC')|
 (nba.Year==2016)&(nba.team=='GSW')|
 (nba.Year==2015)&(nba.team=='GSW')|
 (nba.Year==2014)&(nba.team=='OKC')|
 (nba.Year==2013)&(nba.team=='MIA')|
 (nba.Year==2012)&(nba.team=='MIA')|
 (nba.Year==2011)&(nba.team=='CHI')|
 (nba.Year==2010)&(nba.team=='CLE')|
 (nba.Year==2009)&(nba.team=='CLE')|
 (nba.Year==2008)&(nba.team=='LAL')|
 (nba.Year==2007)&(nba.team=='DAL')|
 (nba.Year==2006)&(nba.team=='PHO')|
 (nba.Year==2005)&(nba.team=='PHO')|
 (nba.Year==2004)&(nba.team=='MIN')|
 (nba.Year==2003)&(nba.team=='SAS')|
 (nba.Year==2002)&(nba.team=='SAS')|
 (nba.Year==2001)&(nba.team=='PHI')|
 (nba.Year==2000)&(nba.team=='LAL')|
 (nba.Year==1999)&(nba.team=='UTA')|
 (nba.Year==1998)&(nba.team=='CHI')|
 (nba.Year==1997)&(nba.team=='UTA')|
 (nba.Year==1996)&(nba.team=='CHI')|
 (nba.Year==1995)&(nba.team=='SAS')|
 (nba.Year==1994)&(nba.team=='HOU')|
 (nba.Year==1993)&(nba.team=='PHO')|
 (nba.Year==1992)&(nba.team=='CHI')|
 (nba.Year==1991)&(nba.team=='CHI')|
 (nba.Year==1990)&(nba.team=='LAL')|
 (nba.Year==1989)&(nba.team=='LAL')|
 (nba.Year==1988)&(nba.team=='CHI')|
 (nba.Year==1987)&(nba.team=='LAL')|
 (nba.Year==1986)&(nba.team=='BOS')|
 (nba.Year==1985)&(nba.team=='BOS')|
 (nba.Year==1984)&(nba.team=='BOS')|
 (nba.Year==1983)&(nba.team=='PHI')|
 (nba.Year==1982)&(nba.team=='HOU')|
 (nba.Year==1981)&(nba.team=='PHI')|
 (nba.Year==1980)&(nba.team=='LAL')|
 (nba.Year==1979)&(nba.team=='HOU')|
 (nba.Year==1978)&(nba.team=='POR')|
 (nba.Year==1977)&(nba.team=='LAL')|
 (nba.Year==1976)&(nba.team=='LAL')|
 (nba.Year==1975)&(nba.team=='BUF')|
 (nba.Year==1974)&(nba.team=='MIL')|
 (nba.Year==1973)&(nba.team=='BOS')|
 (nba.Year==1972)&(nba.team=='MIL')|
 (nba.Year==1971)&(nba.team=='MIL')|
 (nba.Year==1970)&(nba.team=='NYK')|
 (nba.Year==1969)&(nba.team=='BAL')|
 (nba.Year==1968)&(nba.team=='PHI')|
 (nba.Year==1967)&(nba.team=='PHI')|
 (nba.Year==1966)&(nba.team=='PHI')|
 (nba.Year==1965)&(nba.team=='BOS')|
 (nba.Year==1964)&(nba.team=='CIN')|
 (nba.Year==1963)&(nba.team=='BOS')|
 (nba.Year==1962)&(nba.team=='BOS')|
 (nba.Year==1961)&(nba.team=='BOS')|
 (nba.Year==1960)&(nba.team=='PHW')|
 (nba.Year==1959)&(nba.team=='STL')|
 (nba.Year==1958)&(nba.team=='BOS')|
 (nba.Year==1957)&(nba.team=='BOS')|
 (nba.Year==1956)&(nba.team=='STL')]

In [33]:
mvp_df

,Unnamed: 0,name,pos,age,team,gp,gs,mp,fg,fga,...,trb,ast,stl,blk,tov,fouls,pts,Year,school,selection
823,823,Jack Coleman,PF,31,STL,75,NaN,36.5,5.2,12.6,...,9.2,3.9,NaN,NaN,NaN,3.2,12.8,1956,NaN,NaN
835,835,Al Ferrari,SF,22,STL,68,NaN,23.7,2.8,7.9,...,2.7,2.4,NaN,NaN,NaN,2.8,8.0,1956,NaN,NaN
843,843,Alex Hannum*,PF,32,STL,71,NaN,20.8,2.1,6.4,...,4.8,2.2,NaN,NaN,NaN,3.8,5.4,1956,NaN,NaN
845,845,Bob Harrison,PG,28,STL,72,NaN,30.8,3.6,10.1,...,2.7,3.8,NaN,NaN,NaN,3.4,8.6,1956,NaN,NaN
864,864,Jack McMahon,PG,27,STL,70,NaN,24.5,2.9,8.8,...,2.6,3.2,NaN,NaN,NaN,2.4,7.3,1956,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21171,21171,Khris Middleton,SF,27,MIL,77,77.0,31.1,6.6,14.9,...,6.0,4.3,1.0,0.1,2.3,2.2,18.3,2019,Texas A&M,78.0
21178,21178,Nikola MirotiÄ‡,PF,27,MIL,46,25.0,27.1,5.2,11.8,...,7.4,1.2,0.7,0.7,1.0,2.3,15.2,2019,NaN,NaN
21185,21185,Jaylen Morris,SG,23,MIL,4,0.0,7.3,1.0,2.5,...,1.3,1.0,0.5,0.0,0.3,0.3,2.5,2019,NaN,NaN
21283,21283,Tony Snell,SF,27,MIL,74,12.0,17.6,2.2,4.9,...,2.1,0.9,0.4,0.2,0.3,1.2,6.0,2019,New Mexico,20.0
21344,21344,D.J. Wilson,PF,22,MIL,48,3.0,18.4,2.2,5.2,...,4.6,1.1,0.4,0.4,0.7,1.8,5.8,2019,NaN,NaN

In [34]:
mvp_df.reset_index(inplace=True)
hart_df.reset_index(inplace=True)

In [35]:
hart_df.head()

,index,season,team,name,age,pos,gp,goals,assists,points,...,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,ppg,toi_avg
0,255,1924,OTS,Georges Boucher*,27,D,21.0,13.0,9.0,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.619048,1.047619,0.0
1,256,1924,OTS,Punch Broadbent*,31,RW,22.0,9.0,5.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.409091,0.636364,0.0
2,257,1924,OTS,Earl Campbell,23,F,18.0,5.0,4.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.277778,0.500000,0.0
3,258,1924,OTS,King Clancy*,20,D,24.0,8.0,10.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.750000,0.0
4,259,1924,OTS,Jack Darragh*,33,RW,18.0,2.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.111111,0.111111,0.0

In [36]:
mvp_df.tail()

,index,Unnamed: 0,name,pos,age,team,gp,gs,mp,fg,...,trb,ast,stl,blk,tov,fouls,pts,Year,school,selection
863,21171,21171,Khris Middleton,SF,27,MIL,77,77.0,31.1,6.6,...,6.0,4.3,1.0,0.1,2.3,2.2,18.3,2019,Texas A&M,78.0
864,21178,21178,Nikola MirotiÄ‡,PF,27,MIL,46,25.0,27.1,5.2,...,7.4,1.2,0.7,0.7,1.0,2.3,15.2,2019,NaN,NaN
865,21185,21185,Jaylen Morris,SG,23,MIL,4,0.0,7.3,1.0,...,1.3,1.0,0.5,0.0,0.3,0.3,2.5,2019,NaN,NaN
866,21283,21283,Tony Snell,SF,27,MIL,74,12.0,17.6,2.2,...,2.1,0.9,0.4,0.2,0.3,1.2,6.0,2019,New Mexico,20.0
867,21344,21344,D.J. Wilson,PF,22,MIL,48,3.0,18.4,2.2,...,4.6,1.1,0.4,0.4,0.7,1.8,5.8,2019,NaN,NaN

In [37]:
hart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2296 entries, 0 to 2295
Data columns (total 30 columns):
index             2296 non-null int64
season            2296 non-null int64
team              2296 non-null object
name              2296 non-null object
age               2296 non-null int64
pos               2296 non-null object
gp                2296 non-null float64
goals             2296 non-null float64
assists           2296 non-null float64
points            2296 non-null float64
plusmin           2296 non-null float64
plm               2296 non-null float64
goals_ev          2296 non-null float64
goals_pp          2296 non-null float64
goals_sh          2296 non-null float64
goals_gw          2296 non-null float64
assists_ev        2296 non-null float64
assists_pp        2296 non-null float64
assists_sh        2296 non-null float64
shots             2296 non-null float64
toi               2296 non-null float64
hits              2296 non-null float64
faceoff_wins      2296 non-null float64
faceoff_losses    2296 non-null float64
block             2296 non-null float64
faceoff_pct       2296 non-null float64
shot_pct          2296 non-null float64
gpg               2296 non-null float64
ppg               2296 non-null float64
toi_avg           2296 non-null float64
dtypes: float64(24), int64(3), object(3)
memory usage: 538.2+ KB

In [38]:
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    hart_df[col].fillna(0,inplace=True)

In [39]:
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    skater[col].fillna(0,inplace=True)

In [40]:
hart_df

,index,season,team,name,age,pos,gp,goals,assists,points,...,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,ppg,toi_avg
0,255,1924,OTS,Georges Boucher*,27,D,21.0,13.0,9.0,22.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.619048,1.047619,0.000000
1,256,1924,OTS,Punch Broadbent*,31,RW,22.0,9.0,5.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.409091,0.636364,0.000000
2,257,1924,OTS,Earl Campbell,23,F,18.0,5.0,4.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.277778,0.500000,0.000000
3,258,1924,OTS,King Clancy*,20,D,24.0,8.0,10.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.333333,0.750000,0.000000
4,259,1924,OTS,Jack Darragh*,33,RW,18.0,2.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.111111,0.111111,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2291,40918,2019,TBL,Brayden Point,22,C,79.0,41.0,51.0,92.0,...,1495.0,31.0,435.0,421.0,43.0,0.508,0.214660,0.518987,1.164557,18.924051
2292,40919,2019,TBL,Jan Rutta,28,D,37.0,2.0,6.0,8.0,...,577.0,24.0,0.0,0.0,30.0,0.000,0.047619,0.054054,0.216216,15.594595
2293,40920,2019,TBL,Mikhail Sergachev,20,D,75.0,6.0,26.0,32.0,...,1344.0,97.0,1.0,1.0,93.0,0.500,0.046875,0.080000,0.426667,17.920000
2294,40921,2019,TBL,Steven Stamkos,28,C,82.0,45.0,53.0,98.0,...,1501.0,72.0,506.0,447.0,40.0,0.531,0.192308,0.548780,1.195122,18.304878
2295,40922,2019,TBL,Anton Stralman,32,D,47.0,2.0,15.0,17.0,...,965.0,59.0,0.0,0.0,71.0,0.000,0.035088,0.042553,0.361702,20.531915

In [41]:
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    hart_df[col].replace("-","0",inplace=True)
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    skater[col].replace("-","0",inplace=True)

In [42]:
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    try:
        hart_df[col]=hart_df[col].astype(float)
    except:
        print(col)

In [43]:
for col in ['goals','assists','points','goals_ev','goals_pp','goals_sh','goals_gw','assists_ev','assists_sh',
           'assists_pp','shots','toi','toi_avg','hits','faceoff_wins','faceoff_losses','block','faceoff_pct',
            'shot_pct','plm','plusmin']:
    try:
        skater[col]=skater[col].astype(float)
    except:
        print(col)

In [44]:
hart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2296 entries, 0 to 2295
Data columns (total 30 columns):
index             2296 non-null int64
season            2296 non-null int64
team              2296 non-null object
name              2296 non-null object
age               2296 non-null int64
pos               2296 non-null object
gp                2296 non-null float64
goals             2296 non-null float64
assists           2296 non-null float64
points            2296 non-null float64
plusmin           2296 non-null float64
plm               2296 non-null float64
goals_ev          2296 non-null float64
goals_pp          2296 non-null float64
goals_sh          2296 non-null float64
goals_gw          2296 non-null float64
assists_ev        2296 non-null float64
assists_pp        2296 non-null float64
assists_sh        2296 non-null float64
shots             2296 non-null float64
toi               2296 non-null float64
hits              2296 non-null float64
faceoff_wins      2296 non-null float64
faceoff_losses    2296 non-null float64
block             2296 non-null float64
faceoff_pct       2296 non-null float64
shot_pct          2296 non-null float64
gpg               2296 non-null float64
ppg               2296 non-null float64
toi_avg           2296 non-null float64
dtypes: float64(24), int64(3), object(3)
memory usage: 538.2+ KB

In [45]:
for i in range(len(hart_df)):
    hart_df.toi[i]=(str(hart_df.toi[i])).replace(",","")
for i in range(len(skater)):
    skater.toi[i]=(str(skater.toi[i])).replace(",","")

In [46]:
hart_df.drop(['index','toi_avg'],axis=1,inplace=True)
skater.drop(['toi_avg'],axis=1,inplace=True)

In [47]:
mvp_df.drop(['index'],axis=1,inplace=True)

In [48]:
hart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2296 entries, 0 to 2295
Data columns (total 28 columns):
season            2296 non-null int64
team              2296 non-null object
name              2296 non-null object
age               2296 non-null int64
pos               2296 non-null object
gp                2296 non-null float64
goals             2296 non-null float64
assists           2296 non-null float64
points            2296 non-null float64
plusmin           2296 non-null float64
plm               2296 non-null float64
goals_ev          2296 non-null float64
goals_pp          2296 non-null float64
goals_sh          2296 non-null float64
goals_gw          2296 non-null float64
assists_ev        2296 non-null float64
assists_pp        2296 non-null float64
assists_sh        2296 non-null float64
shots             2296 non-null float64
toi               2296 non-null float64
hits              2296 non-null float64
faceoff_wins      2296 non-null float64
faceoff_losses    2296 non-null float64
block             2296 non-null float64
faceoff_pct       2296 non-null float64
shot_pct          2296 non-null float64
gpg               2296 non-null float64
ppg               2296 non-null float64
dtypes: float64(23), int64(2), object(3)
memory usage: 502.4+ KB

In [49]:
hart_df.toi=hart_df.toi.astype(float)
skater.toi=skater.toi.astype(float)

In [50]:
hart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2296 entries, 0 to 2295
Data columns (total 28 columns):
season            2296 non-null int64
team              2296 non-null object
name              2296 non-null object
age               2296 non-null int64
pos               2296 non-null object
gp                2296 non-null float64
goals             2296 non-null float64
assists           2296 non-null float64
points            2296 non-null float64
plusmin           2296 non-null float64
plm               2296 non-null float64
goals_ev          2296 non-null float64
goals_pp          2296 non-null float64
goals_sh          2296 non-null float64
goals_gw          2296 non-null float64
assists_ev        2296 non-null float64
assists_pp        2296 non-null float64
assists_sh        2296 non-null float64
shots             2296 non-null float64
toi               2296 non-null float64
hits              2296 non-null float64
faceoff_wins      2296 non-null float64
faceoff_losses    2296 non-null float64
block             2296 non-null float64
faceoff_pct       2296 non-null float64
shot_pct          2296 non-null float64
gpg               2296 non-null float64
ppg               2296 non-null float64
dtypes: float64(23), int64(2), object(3)
memory usage: 502.4+ KB

In [51]:
hart_df['toi_avg']=hart_df.toi/hart_df.gp
skater['toi_avg']=skater.toi/skater.gp

In [52]:
hart_df

,season,team,name,age,pos,gp,goals,assists,points,plusmin,...,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,ppg,toi_avg
0,1924,OTS,Georges Boucher*,27,D,21.0,13.0,9.0,22.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.619048,1.047619,0.000000
1,1924,OTS,Punch Broadbent*,31,RW,22.0,9.0,5.0,14.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.409091,0.636364,0.000000
2,1924,OTS,Earl Campbell,23,F,18.0,5.0,4.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.277778,0.500000,0.000000
3,1924,OTS,King Clancy*,20,D,24.0,8.0,10.0,18.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.333333,0.750000,0.000000
4,1924,OTS,Jack Darragh*,33,RW,18.0,2.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.000000,0.111111,0.111111,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2291,2019,TBL,Brayden Point,22,C,79.0,41.0,51.0,92.0,27.0,...,1495.0,31.0,435.0,421.0,43.0,0.508,0.214660,0.518987,1.164557,18.924051
2292,2019,TBL,Jan Rutta,28,D,37.0,2.0,6.0,8.0,4.0,...,577.0,24.0,0.0,0.0,30.0,0.000,0.047619,0.054054,0.216216,15.594595
2293,2019,TBL,Mikhail Sergachev,20,D,75.0,6.0,26.0,32.0,12.0,...,1344.0,97.0,1.0,1.0,93.0,0.500,0.046875,0.080000,0.426667,17.920000
2294,2019,TBL,Steven Stamkos,28,C,82.0,45.0,53.0,98.0,4.0,...,1501.0,72.0,506.0,447.0,40.0,0.531,0.192308,0.548780,1.195122,18.304878
2295,2019,TBL,Anton Stralman,32,D,47.0,2.0,15.0,17.0,12.0,...,965.0,59.0,0.0,0.0,71.0,0.000,0.035088,0.042553,0.361702,20.531915

In [53]:
mvp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 33 columns):
Unnamed: 0    868 non-null int64
name          868 non-null object
pos           868 non-null object
age           868 non-null int64
team          868 non-null object
gp            868 non-null int64
gs            551 non-null float64
mp            868 non-null float64
fg            868 non-null float64
fga           868 non-null float64
fg%           868 non-null float64
3p            574 non-null float64
3pa           574 non-null float64
3p%           476 non-null float64
2p            868 non-null float64
2pa           868 non-null float64
2p%           868 non-null float64
efg%          868 non-null float64
ft            868 non-null float64
fta           868 non-null float64
ft%           850 non-null float64
orb           657 non-null float64
drb           657 non-null float64
trb           868 non-null float64
ast           868 non-null float64
stl           657 non-null float64
blk           657 non-null float64
tov           600 non-null float64
fouls         868 non-null float64
pts           868 non-null float64
Year          868 non-null int64
school        344 non-null object
selection     344 non-null float64
dtypes: float64(25), int64(4), object(4)
memory usage: 223.9+ KB

In [54]:
mvp_df.drop('Unnamed: 0',axis=1,inplace=True)

In [55]:
mvp_df.columns

Index(['name', 'pos', 'age', 'team', 'gp', 'gs', 'mp', 'fg', 'fga', 'fg%',
       '3p', '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'fouls', 'pts', 'Year',
       'school', 'selection'],
      dtype='object')

In [56]:
for col in ['gp', 'gs', 'mp', 'fg', 'fga', 'fg%',
       '3p', '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'fouls', 'pts']:
    mvp_df[col].fillna(0,inplace=True)

In [57]:
for col in ['gp', 'gs', 'mp', 'fg', 'fga', 'fg%',
       '3p', '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'fouls', 'pts']:
    nba[col].fillna(0,inplace=True)

In [58]:
mvp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 32 columns):
name         868 non-null object
pos          868 non-null object
age          868 non-null int64
team         868 non-null object
gp           868 non-null int64
gs           868 non-null float64
mp           868 non-null float64
fg           868 non-null float64
fga          868 non-null float64
fg%          868 non-null float64
3p           868 non-null float64
3pa          868 non-null float64
3p%          868 non-null float64
2p           868 non-null float64
2pa          868 non-null float64
2p%          868 non-null float64
efg%         868 non-null float64
ft           868 non-null float64
fta          868 non-null float64
ft%          868 non-null float64
orb          868 non-null float64
drb          868 non-null float64
trb          868 non-null float64
ast          868 non-null float64
stl          868 non-null float64
blk          868 non-null float64
tov          868 non-null float64
fouls        868 non-null float64
pts          868 non-null float64
Year         868 non-null int64
school       344 non-null object
selection    344 non-null float64
dtypes: float64(25), int64(3), object(4)
memory usage: 217.1+ KB

In [59]:
nba.school.fillna('N/A',inplace=True)
nba.selection.fillna(0,inplace=True)

In [60]:
mvp_df.school.fillna('N/A',inplace=True)
mvp_df.selection.fillna(0,inplace=True)

In [61]:
mvp_df

,name,pos,age,team,gp,gs,mp,fg,fga,fg%,...,trb,ast,stl,blk,tov,fouls,pts,Year,school,selection
0,Jack Coleman,PF,31,STL,75,0.0,36.5,5.2,12.6,0.412,...,9.2,3.9,0.0,0.0,0.0,3.2,12.8,1956,N/A,0.0
1,Al Ferrari,SF,22,STL,68,0.0,23.7,2.8,7.9,0.358,...,2.7,2.4,0.0,0.0,0.0,2.8,8.0,1956,N/A,0.0
2,Alex Hannum*,PF,32,STL,71,0.0,20.8,2.1,6.4,0.322,...,4.8,2.2,0.0,0.0,0.0,3.8,5.4,1956,N/A,0.0
3,Bob Harrison,PG,28,STL,72,0.0,30.8,3.6,10.1,0.359,...,2.7,3.8,0.0,0.0,0.0,3.4,8.6,1956,N/A,0.0
4,Jack McMahon,PG,27,STL,70,0.0,24.5,2.9,8.8,0.328,...,2.6,3.2,0.0,0.0,0.0,2.4,7.3,1956,N/A,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,Khris Middleton,SF,27,MIL,77,77.0,31.1,6.6,14.9,0.441,...,6.0,4.3,1.0,0.1,2.3,2.2,18.3,2019,Texas A&M,78.0
864,Nikola MirotiÄ‡,PF,27,MIL,46,25.0,27.1,5.2,11.8,0.439,...,7.4,1.2,0.7,0.7,1.0,2.3,15.2,2019,N/A,0.0
865,Jaylen Morris,SG,23,MIL,4,0.0,7.3,1.0,2.5,0.400,...,1.3,1.0,0.5,0.0,0.3,0.3,2.5,2019,N/A,0.0
866,Tony Snell,SF,27,MIL,74,12.0,17.6,2.2,4.9,0.452,...,2.1,0.9,0.4,0.2,0.3,1.2,6.0,2019,New Mexico,20.0
867,D.J. Wilson,PF,22,MIL,48,3.0,18.4,2.2,5.2,0.414,...,4.6,1.1,0.4,0.4,0.7,1.8,5.8,2019,N/A,0.0

In [62]:
nba.head()

,Unnamed: 0,name,pos,age,team,gp,gs,mp,fg,fga,...,trb,ast,stl,blk,tov,fouls,pts,Year,school,selection
0,0,Curly Armstrong,G-F,31,FTW,63,0.0,0.0,2.3,8.2,...,0.0,2.8,0.0,0.0,0.0,3.4,7.3,1950,N/A,0.0
1,1,Cliff Barker,SG,29,INO,49,0.0,0.0,2.1,5.6,...,0.0,2.2,0.0,0.0,0.0,2.0,5.7,1950,N/A,0.0
2,2,Leo Barnhorst,SF,25,CHS,67,0.0,0.0,2.6,7.4,...,0.0,2.1,0.0,0.0,0.0,2.9,6.5,1950,N/A,0.0
3,3,Ed Bartels,F,24,NYK,15,0.0,0.0,1.5,5.7,...,0.0,1.3,0.0,0.0,0.0,1.9,4.2,1950,N/A,0.0
4,4,Ralph Beard,G,22,INO,60,0.0,0.0,5.7,15.6,...,0.0,3.9,0.0,0.0,0.0,2.2,14.9,1950,N/A,0.0

In [63]:
skater.head()

,season,team,name,age,pos,gp,goals,assists,points,plusmin,...,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,ppg,toi_avg
0,1918,MTL,Louis Berlinguette,30,LW,20.0,2.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.100000,0.150000,0.0
1,1918,MTL,Bert Corbeau,23,D,21.0,8.0,7.0,15.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.380952,0.714286,0.0
2,1918,MTL,Billy Coutu,25,D,20.0,2.0,2.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.100000,0.200000,0.0
3,1918,MTL,Joe Hall*,36,D,21.0,8.0,7.0,15.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.380952,0.714286,0.0
4,1918,MTL,Newsy Lalonde*,30,C,14.0,23.0,7.0,30.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.642857,2.142857,0.0

In [64]:
goalies.head()

,Unnamed: 0,name,age,team,gp,gs,wins,losses,ties,goals_against,...,quality_start_pct,really_bad_starts,ga_pct_minus,gs_above_avg,goals_scored,assists,points,plm,mpg,season
0,0,Clint Benedict*,25,OTS,22.0,NaN,9.0,13.0,0.0,114,...,NaN,NaN,0.0,0.0,0,0,0,0,60.773,1918
1,1,Art Brooks,28,TRA,4.0,NaN,2.0,2.0,0.0,23,...,NaN,NaN,0.0,0.0,0,0,0,0,55.000,1918
2,2,Sammy Hebert,23,TRA,2.0,NaN,1.0,0.0,0.0,10,...,NaN,NaN,0.0,0.0,0,0,0,0,40.000,1918
3,3,Hap Holmes*,29,TRA,16.0,NaN,9.0,7.0,0.0,76,...,NaN,NaN,0.0,0.0,0,0,0,0,60.312,1918
4,4,Bert Lindsay,36,MTW,4.0,NaN,1.0,3.0,0.0,35,...,NaN,NaN,0.0,0.0,0,0,0,0,60.000,1918

In [65]:
for col in goalies.columns:
    goalies[col].fillna(0,inplace=True)

In [66]:
hart_df_goalie=goalies[(goalies.season==2019)&(goalies.team=='TBL')|
(goalies.season==2018)&(goalies.team=='NJD')|
(goalies.season==2017)&(goalies.team=='EDM')|
(goalies.season==2016)&(goalies.team=='CHI')|
(goalies.season==2015)&(goalies.team=='MTL')|
(goalies.season==2014)&(goalies.team=='PIT')|
(goalies.season==2013)&(goalies.team=='WSH')|
(goalies.season==2012)&(goalies.team=='PIT')|
(goalies.season==2011)&(goalies.team=='ANA')|
(goalies.season==2010)&(goalies.team=='VAN')|
 (goalies.season==2009)&(goalies.team=='WSH')|
 (goalies.season==2008)&(goalies.team=='WSH')|
 (goalies.season==2007)&(goalies.team=='PIT')|
 (goalies.season==2006)&(goalies.team=='SJS')|
 (goalies.season==2004)&(goalies.team=='TBL')|
 (goalies.season==2003)&(goalies.team=='COL')|
 (goalies.season==2002)&(goalies.team=='MTL')|
 (goalies.season==2001)&(goalies.team=='COL')|
 (goalies.season==2000)&(goalies.team=='STL')|
 (goalies.season==1999)&(goalies.team=='PIT')|
 (goalies.season==1998)&(goalies.team=='BUF')|
 (goalies.season==1997)&(goalies.team=='BUF')|
 (goalies.season==1996)&(goalies.team=='PIT')|
 (goalies.season==1995)&(goalies.team=='PHI')|
 (goalies.season==1994)&(goalies.team=='DET')|
 (goalies.season==1993)&(goalies.team=='PIT')|
 (goalies.season==1992)&(goalies.team=='NYR')|
 (goalies.season==1991)&(goalies.team=='STL')|
 (goalies.season==1990)&(goalies.team=='EDM')|
 (goalies.season==1989)&(goalies.team=='LAK')|
 (goalies.season==1988)&(goalies.team=='PIT')|
 (goalies.season==1987)&(goalies.team=='EDM')|
 (goalies.season==1986)&(goalies.team=='EDM')|
 (goalies.season==1985)&(goalies.team=='EDM')|
 (goalies.season==1984)&(goalies.team=='EDM')|
 (goalies.season==1983)&(goalies.team=='EDM')|
 (goalies.season==1982)&(goalies.team=='EDM')|
 (goalies.season==1981)&(goalies.team=='EDM')|
 (goalies.season==1980)&(goalies.team=='EDM')|
 (goalies.season==1979)&(goalies.team=='NYI')|
 (goalies.season==1978)&(goalies.team=='MTL')|
 (goalies.season==1977)&(goalies.team=='MTL')|
 (goalies.season==1976)&(goalies.team=='PHI')|
 (goalies.season==1975)&(goalies.team=='PHI')|
 (goalies.season==1974)&(goalies.team=='BOS')|
 (goalies.season==1973)&(goalies.team=='PHI')|
 (goalies.season==1972)&(goalies.team=='BOS')|
 (goalies.season==1971)&(goalies.team=='BOS')|
 (goalies.season==1970)&(goalies.team=='BOS')|
 (goalies.season==1969)&(goalies.team=='BOS')|
 (goalies.season==1968)&(goalies.team=='CBH')|
 (goalies.season==1967)&(goalies.team=='CBH')|
 (goalies.season==1966)&(goalies.team=='CBH')|
 (goalies.season==1965)&(goalies.team=='CBH')|
 (goalies.season==1964)&(goalies.team=='MTL')|
 (goalies.season==1963)&(goalies.team=='DET')|
 (goalies.season==1962)&(goalies.team=='MTL')|
 (goalies.season==1961)&(goalies.team=='MTL')|
 (goalies.season==1960)&(goalies.team=='DET')|
 (goalies.season==1959)&(goalies.team=='NYR')|
 (goalies.season==1958)&(goalies.team=='DET')|
 (goalies.season==1957)&(goalies.team=='DET')|
 (goalies.season==1956)&(goalies.team=='MTL')|
 (goalies.season==1955)&(goalies.team=='TOR')|
 (goalies.season==1954)&(goalies.team=='CBH')|
 (goalies.season==1953)&(goalies.team=='DET')|
 (goalies.season==1952)&(goalies.team=='DET')|
 (goalies.season==1951)&(goalies.team=='BOS')|
 (goalies.season==1950)&(goalies.team=='NYR')|
 (goalies.season==1949)&(goalies.team=='DET')|
 (goalies.season==1948)&(goalies.team=='NYR')|
 (goalies.season==1947)&(goalies.team=='MTL')|
 (goalies.season==1946)&(goalies.team=='CBH')|
 (goalies.season==1945)&(goalies.team=='MTL')|
 (goalies.season==1944)&(goalies.team=='TOR')|
 (goalies.season==1943)&(goalies.team=='BOS')|
 (goalies.season==1942)&(goalies.team=='BRO')|
 (goalies.season==1941)&(goalies.team=='BOS')|
 (goalies.season==1940)&(goalies.team=='DET')|
 (goalies.season==1939)&(goalies.team=='MTL')|
 (goalies.season==1938)&(goalies.team=='BOS')|
 (goalies.season==1937)&(goalies.team=='MTL')|
 (goalies.season==1936)&(goalies.team=='BOS')|
 (goalies.season==1935)&(goalies.team=='BOS')|
 (goalies.season==1934)&(goalies.team=='MTL')|
 (goalies.season==1933)&(goalies.team=='BOS')|
 (goalies.season==1932)&(goalies.team=='MTL')|
 (goalies.season==1931)&(goalies.team=='MTL')|
 (goalies.season==1930)&(goalies.team=='MTM')|
 (goalies.season==1929)&(goalies.team=='NYA')|
 (goalies.season==1928)&(goalies.team=='MTL')|
 (goalies.season==1927)&(goalies.team=='MTL')|
 (goalies.season==1926)&(goalies.team=='MTM')|
 (goalies.season==1925)&(goalies.team=='HAM')|
 (goalies.season==1924)&(goalies.team=='OTS')]

In [68]:
goalie_avg=goalies.groupby('season',as_index=False).mean()
#goalie_avg.to_csv('goalie_averages.csv')

In [70]:
skater_avg=skater.groupby('season',as_index=False).mean()
#skater_avg.to_csv('skater_avg.csv')

In [71]:
nba_avg=nba.groupby('Year',as_index=False).mean()
#nba_avg.to_csv('nba_avg.csv')

In [72]:
nba_mvp_copy = mvp_df.copy()

In [73]:
nba_avg.columns

Index(['Year', 'Unnamed: 0', 'age', 'gp', 'gs', 'mp', 'fg', 'fga', 'fg%', '3p',
       '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft', 'fta', 'ft%', 'orb',
       'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'fouls', 'pts', 'selection'],
      dtype='object')

In [74]:
nba_avg.drop('Unnamed: 0',axis=1,inplace=True)

In [75]:
nba_mvp_copy=nba_mvp_copy[list(nba_avg.columns)]

In [76]:
#####
all_nba_players = nba.copy()

In [77]:
#####
all_nba_players.reset_index(inplace=True)

In [78]:
#####
all_nba_players=all_nba_players[list(nba_avg.columns)]

In [79]:
nba_avg[nba_avg.Year==1990]

,Year,age,gp,gs,mp,fg,fga,fg%,3p,3pa,...,orb,drb,trb,ast,stl,blk,tov,fouls,pts,selection
40,1990,26.747368,59.028947,29.131579,20.606842,3.466316,7.383158,0.447347,0.176579,0.557632,...,1.185,2.472632,3.658947,2.096053,0.727105,0.422368,1.350263,2.057632,8.950789,19.4

In [80]:
nba_mvp_copy.reset_index(inplace=True)

In [81]:
nba_avg.reset_index(inplace=True)

In [82]:
def find_relative_metrics(year,df_avg,df_rel,year_metric):
    df1=df_avg[df_avg[year_metric]==year]
    df2=df_rel[df_rel[year_metric]==year]
    for col in df2.columns:
        df2[col]=df2[col]/list(df1[col].unique())[0]
    return df2

In [83]:
nba_relative_dfs=[]
for i in nba_avg.Year:
    df_to_add = find_relative_metrics(i,nba_avg,nba_mvp_copy,'Year')
    nba_relative_dfs.append(df_to_add)

In [84]:
#####
nba_relative_dfs_every_player=[]
for i in nba_avg.Year:
    df_to_add2 = find_relative_metrics(i,nba_avg,all_nba_players,'Year')
    nba_relative_dfs_every_player.append(df_to_add2)

In [85]:
nba_relative_teams=pd.concat(nba_relative_dfs)

In [86]:
#####
nba_relative_teams_every=pd.concat(nba_relative_dfs_every_player)

In [87]:
#####
nba_relative_teams_every

,Year,age,gp,gs,mp,fg,fga,fg%,3p,3pa,...,orb,drb,trb,ast,stl,blk,tov,fouls,pts,selection
0,1.0,1.194987,1.252921,NaN,NaN,0.929335,1.109049,0.864557,NaN,NaN,...,NaN,NaN,NaN,1.594891,NaN,NaN,NaN,1.372059,1.042256,NaN
1,1.0,1.117891,0.974494,NaN,NaN,0.848523,0.757399,1.152743,NaN,NaN,...,NaN,NaN,NaN,1.253129,NaN,NaN,NaN,0.807094,0.813817,NaN
2,1.0,0.963699,1.332471,NaN,NaN,1.050553,1.000849,1.081471,NaN,NaN,...,NaN,NaN,NaN,1.196169,NaN,NaN,NaN,1.170286,0.928036,NaN
3,1.0,0.925151,0.298314,NaN,NaN,0.606088,0.770924,0.793286,NaN,NaN,...,NaN,NaN,NaN,0.740485,NaN,NaN,NaN,0.766739,0.599654,NaN
4,1.0,0.848055,1.193258,NaN,NaN,2.303135,2.109898,1.124854,NaN,NaN,...,NaN,NaN,NaN,2.221456,NaN,NaN,NaN,0.887803,2.127345,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21351,1.0,0.772313,1.644765,3.490244,1.595934,2.036293,2.204008,0.950192,2.167456,2.371188,...,0.953666,1.044654,1.024021,4.215436,1.456933,0.511090,3.564602,0.983947,2.217427,0.315664
21352,1.0,1.004007,0.994981,2.025203,1.311868,1.221776,0.995359,1.252525,0.114077,0.158079,...,2.622582,1.657038,1.881984,1.092891,1.295052,2.044359,1.219469,1.910014,1.172566,0.180379
21353,1.0,1.119854,0.121834,0.043089,0.800550,0.845845,0.710970,1.211608,0.000000,0.079040,...,2.145749,0.792496,1.107050,0.364297,0.323763,1.277724,0.656637,1.910014,0.893937,0.766613
21354,1.0,0.849545,1.198038,1.077236,0.945165,0.971155,0.796287,1.257072,0.000000,0.000000,...,2.145749,1.296812,1.494517,0.468382,0.323763,1.022179,0.938053,1.099705,0.905546,0.000000
21355,1.0,0.810929,1.198038,1.594309,0.909011,1.127793,0.910042,1.270711,0.000000,0.000000,...,2.264957,1.512948,1.688251,0.572467,0.323763,2.299904,1.125664,1.331222,1.033252,2.886072

In [88]:
nba.columns

Index(['Unnamed: 0', 'name', 'pos', 'age', 'team', 'gp', 'gs', 'mp', 'fg',
       'fga', 'fg%', '3p', '3pa', '3p%', '2p', '2pa', '2p%', 'efg%', 'ft',
       'fta', 'ft%', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'fouls',
       'pts', 'Year', 'school', 'selection'],
      dtype='object')

In [89]:
for col in ['name','pos','age','team','school','Year']:
    nba_relative_teams[col]=mvp_df[col]

In [90]:
####
for col in ['name','pos','age','team','school','Year']:
    nba_relative_teams_every[col]=nba[col]

In [91]:
####
nba_relative_teams_every

,Year,age,gp,gs,mp,fg,fga,fg%,3p,3pa,...,stl,blk,tov,fouls,pts,selection,name,pos,team,school
0,1950,31,1.252921,NaN,NaN,0.929335,1.109049,0.864557,NaN,NaN,...,NaN,NaN,NaN,1.372059,1.042256,NaN,Curly Armstrong,G-F,FTW,N/A
1,1950,29,0.974494,NaN,NaN,0.848523,0.757399,1.152743,NaN,NaN,...,NaN,NaN,NaN,0.807094,0.813817,NaN,Cliff Barker,SG,INO,N/A
2,1950,25,1.332471,NaN,NaN,1.050553,1.000849,1.081471,NaN,NaN,...,NaN,NaN,NaN,1.170286,0.928036,NaN,Leo Barnhorst,SF,CHS,N/A
3,1950,24,0.298314,NaN,NaN,0.606088,0.770924,0.793286,NaN,NaN,...,NaN,NaN,NaN,0.766739,0.599654,NaN,Ed Bartels,F,NYK,N/A
4,1950,22,1.193258,NaN,NaN,2.303135,2.109898,1.124854,NaN,NaN,...,NaN,NaN,NaN,0.887803,2.127345,NaN,Ralph Beard,G,INO,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21351,2019,20,1.644765,3.490244,1.595934,2.036293,2.204008,0.950192,2.167456,2.371188,...,1.456933,0.511090,3.564602,0.983947,2.217427,0.315664,Trae Young,PG,ATL,Oklahoma
21352,2019,26,0.994981,2.025203,1.311868,1.221776,0.995359,1.252525,0.114077,0.158079,...,1.295052,2.044359,1.219469,1.910014,1.172566,0.180379,Cody Zeller,C,CHO,Indiana
21353,2019,29,0.121834,0.043089,0.800550,0.845845,0.710970,1.211608,0.000000,0.079040,...,0.323763,1.277724,0.656637,1.910014,0.893937,0.766613,Tyler Zeller,C,MEM,North Carolina
21354,2019,22,1.198038,1.077236,0.945165,0.971155,0.796287,1.257072,0.000000,0.000000,...,0.323763,1.022179,0.938053,1.099705,0.905546,0.000000,Ante Å½iÅ¾iÄ‡,C,CLE,N/A
21355,2019,21,1.198038,1.594309,0.909011,1.127793,0.910042,1.270711,0.000000,0.000000,...,0.323763,2.299904,1.125664,1.331222,1.033252,2.886072,Ivica Zubac,C,LAC,Mega Leks

In [92]:
nba_relative_teams

,index,Year,age,gp,gs,mp,fg,fga,fg%,3p,...,stl,blk,tov,fouls,pts,selection,name,pos,team,school
0,0.000000,1956,31,1.235452,NaN,1.572907,1.549725,1.439464,1.099782,NaN,...,NaN,NaN,NaN,1.243768,1.362175,NaN,Jack Coleman,PF,STL,N/A
1,0.166667,1956,22,1.120143,NaN,1.021312,0.834467,0.902521,0.955636,NaN,...,NaN,NaN,NaN,1.088297,0.851359,NaN,Al Ferrari,SF,STL,N/A
2,0.333333,1956,32,1.169561,NaN,0.896342,0.625850,0.731156,0.859539,NaN,...,NaN,NaN,NaN,1.476975,0.574667,NaN,Alex Hannum*,PF,STL,N/A
3,0.500000,1956,28,1.186034,NaN,1.327275,1.072886,1.153856,0.958306,NaN,...,NaN,NaN,NaN,1.321504,0.915211,NaN,Bob Harrison,PG,STL,N/A
4,0.666667,1956,27,1.153089,NaN,1.055787,0.864270,1.005340,0.875555,NaN,...,NaN,NaN,NaN,0.932826,0.776865,NaN,Jack McMahon,PG,STL,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,12.507246,2019,27,1.563542,3.317886,1.606264,2.067620,2.118692,1.002475,2.623762,...,1.618815,0.255545,2.157522,1.273343,2.124551,3.517400,Khris Middleton,SF,MIL,Texas A&M
864,12.521739,2019,27,0.934064,1.077236,1.399671,1.629034,1.677890,0.997928,2.851916,...,1.133170,1.788814,0.938053,1.331222,1.764654,0.000000,Nikola MirotiÄ‡,PF,MIL,N/A
865,12.536232,2019,23,0.081223,0.000000,0.377033,0.313276,0.355485,0.909274,0.342230,...,0.809407,0.000000,0.281416,0.173638,0.290239,0.000000,Jaylen Morris,SG,MIL,N/A
866,12.550725,2019,27,1.502624,0.517073,0.909011,0.689207,0.696751,1.027480,1.254843,...,0.647526,0.511090,0.281416,0.694551,0.696574,0.901897,Tony Snell,SF,MIL,New Mexico
867,12.565217,2019,22,0.974675,0.129268,0.950330,0.689207,0.739409,0.941099,1.140766,...,0.647526,1.022179,0.656637,1.041826,0.673355,0.000000,D.J. Wilson,PF,MIL,N/A

In [93]:
####
#nba_relative_teams_every.to_csv('relative_every_player.csv')

In [94]:
nhl_hart_copy = hart_df.copy()
nhl_hart_copy=nhl_hart_copy[list(skater_avg.columns)]

In [95]:
nhl_skater_relative_dfs=[]
for i in skater_avg.season:
    df_to_add = find_relative_metrics(i,skater_avg,nhl_hart_copy,'season')
    nhl_skater_relative_dfs.append(df_to_add)

In [96]:
hart_relative_skaters=pd.concat(nhl_skater_relative_dfs)

In [97]:
#####
every_single_skater = skater.copy()
every_single_skater=every_single_skater[list(skater_avg.columns)]

In [98]:
#####
nhl_every_skater_relative_dfs=[]
for i in skater_avg.season:
    df_to_add3 = find_relative_metrics(i,skater_avg,every_single_skater,'season')
    nhl_every_skater_relative_dfs.append(df_to_add3)

In [99]:
#####
every_nhl_skater_df=pd.concat(nhl_every_skater_relative_dfs)

In [100]:
#####
every_nhl_skater_df

,season,age,gp,goals,assists,points,plusmin,plm,goals_ev,goals_pp,...,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,ppg,toi_avg
0,1.0,1.088372,1.441774,0.228070,0.268966,0.240246,NaN,0.434540,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.201577,0.214890,NaN
1,1.0,0.834419,1.513863,0.912281,1.882759,1.201232,NaN,1.593315,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.767912,1.023287,NaN
2,1.0,0.906977,1.441774,0.228070,0.537931,0.320329,NaN,1.774373,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.201577,0.286520,NaN
3,1.0,1.306047,1.513863,0.912281,1.882759,1.201232,NaN,3.621170,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.767912,1.023287,NaN
4,1.0,1.088372,1.009242,2.622807,1.882759,2.402464,NaN,1.846797,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.311622,3.069862,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41051,1.0,0.999618,1.069260,0.478290,0.284771,0.356992,11.766234,0.666013,0.616536,0.000000,...,0.703462,1.243520,0.193262,0.301972,0.899429,1.460095,0.847708,0.545614,0.413847,0.721466
41052,1.0,0.922724,1.267271,0.597862,0.427157,0.490863,25.493506,0.000000,0.616536,0.000000,...,0.930346,0.605817,0.567707,0.579786,0.824477,1.853197,1.766058,0.575452,0.480128,0.805071
41053,1.0,0.845831,1.623691,2.869737,1.637435,2.097326,-39.220779,1.198824,3.545083,0.618008,...,1.381714,0.749301,0.048315,0.072473,0.799493,1.497533,1.895496,2.155840,1.601135,0.933198
41054,1.0,0.922724,0.059403,0.000000,0.071193,0.044624,-1.961039,0.088802,0.000000,0.000000,...,0.028811,0.079713,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.931156,0.531866
41055,1.0,0.922724,1.247470,2.630593,1.281471,1.784958,-21.571429,5.683313,2.620279,1.854025,...,1.372111,3.188513,0.350287,0.289893,1.299175,2.047876,2.151874,2.572180,1.773631,1.206196

In [101]:
####
for col in ['name', 'age', 'team', 'pos','season']:
    every_nhl_skater_df[col]=skater[col]

In [102]:
####
every_nhl_skater_df

,season,age,gp,goals,assists,points,plusmin,plm,goals_ev,goals_pp,...,faceoff_losses,block,faceoff_pct,shot_pct,gpg,ppg,toi_avg,name,team,pos
0,1918,30,1.441774,0.228070,0.268966,0.240246,NaN,0.434540,NaN,NaN,...,NaN,NaN,NaN,NaN,0.201577,0.214890,NaN,Louis Berlinguette,MTL,LW
1,1918,23,1.513863,0.912281,1.882759,1.201232,NaN,1.593315,NaN,NaN,...,NaN,NaN,NaN,NaN,0.767912,1.023287,NaN,Bert Corbeau,MTL,D
2,1918,25,1.441774,0.228070,0.537931,0.320329,NaN,1.774373,NaN,NaN,...,NaN,NaN,NaN,NaN,0.201577,0.286520,NaN,Billy Coutu,MTL,D
3,1918,36,1.513863,0.912281,1.882759,1.201232,NaN,3.621170,NaN,NaN,...,NaN,NaN,NaN,NaN,0.767912,1.023287,NaN,Joe Hall*,MTL,D
4,1918,30,1.009242,2.622807,1.882759,2.402464,NaN,1.846797,NaN,NaN,...,NaN,NaN,NaN,NaN,3.311622,3.069862,NaN,Newsy Lalonde*,MTL,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41051,2019,26,1.069260,0.478290,0.284771,0.356992,11.766234,0.666013,0.616536,0.000000,...,0.301972,0.899429,1.460095,0.847708,0.545614,0.413847,0.721466,Devante Smith-Pelly,WSH,RW
41052,2019,24,1.267271,0.597862,0.427157,0.490863,25.493506,0.000000,0.616536,0.000000,...,0.579786,0.824477,1.853197,1.766058,0.575452,0.480128,0.805071,Chandler Stephenson,WSH,C
41053,2019,22,1.623691,2.869737,1.637435,2.097326,-39.220779,1.198824,3.545083,0.618008,...,0.072473,0.799493,1.497533,1.895496,2.155840,1.601135,0.933198,Jakub Vrana,WSH,LW
41054,2019,24,0.059403,0.000000,0.071193,0.044624,-1.961039,0.088802,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.931156,0.531866,Nathan Walker,WSH,C
41055,2019,24,1.247470,2.630593,1.281471,1.784958,-21.571429,5.683313,2.620279,1.854025,...,0.289893,1.299175,2.047876,2.151874,2.572180,1.773631,1.206196,Tom Wilson,WSH,RW

In [103]:
hart_relative_skaters

,season,age,gp,goals,assists,points,plusmin,plm,goals_ev,goals_pp,...,toi,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,shot_pct,gpg,ppg,toi_avg
0,1.0,1.006344,1.194915,2.396078,2.978873,2.604534,NaN,2.364072,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.456697,2.635444,NaN
1,1.0,1.155432,1.251816,1.658824,1.654930,1.657431,NaN,2.701796,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.623481,1.600869,NaN
2,1.0,0.857256,1.024213,0.921569,1.323944,1.065491,NaN,0.562874,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.102364,1.257825,NaN
3,1.0,0.745440,1.365617,1.474510,3.309859,2.130982,NaN,1.013174,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.322837,1.886738,NaN
4,1.0,1.229976,1.024213,0.368627,0.000000,0.236776,NaN,0.112575,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.440946,0.279517,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2291,1.0,0.845831,1.564288,4.902468,3.630835,4.105403,-52.948052,1.243225,3.236815,12.360164,...,1.794668,0.494220,5.254310,5.085205,1.074318,1.901867,2.729530,3.822751,3.253154,1.258133
2292,1.0,1.076512,0.732641,0.239145,0.427157,0.356992,-7.844156,0.710414,0.308268,0.000000,...,0.692658,0.382622,0.000000,0.000000,0.749524,0.000000,0.605506,0.398151,0.603993,1.036779
2293,1.0,0.768937,1.485084,0.717434,1.851014,1.427966,-23.532468,1.243225,0.924804,0.000000,...,1.613400,1.546429,0.012079,0.012079,2.323525,1.871916,0.596045,0.589263,1.191880,1.191380
2294,1.0,1.076512,1.623691,5.380758,3.773220,4.373147,-7.844156,1.642833,3.699217,11.742156,...,1.801871,1.147865,6.111910,5.399256,0.999366,1.987975,2.445311,4.042201,3.338537,1.216968
2295,1.0,1.230299,0.930652,0.239145,1.067893,0.758607,-23.532468,0.355207,0.308268,0.000000,...,1.158431,0.940611,0.000000,0.000000,1.773874,0.000000,0.446162,0.313438,1.010404,1.365029

In [104]:
hart_df.columns

Index(['season', 'team', 'name', 'age', 'pos', 'gp', 'goals', 'assists',
       'points', 'plusmin', 'plm', 'goals_ev', 'goals_pp', 'goals_sh',
       'goals_gw', 'assists_ev', 'assists_pp', 'assists_sh', 'shots', 'toi',
       'hits', 'faceoff_wins', 'faceoff_losses', 'block', 'faceoff_pct',
       'shot_pct', 'gpg', 'ppg', 'toi_avg'],
      dtype='object')

In [105]:
for col in ['name', 'age', 'team', 'pos','season']:
    hart_relative_skaters[col]=hart_df[col]

In [107]:
####
#every_nhl_skater_df.to_csv('relative_skater_stats.csv')

In [108]:
goalie_hart_copy = hart_df_goalie.copy()
goalie_hart_copy=goalie_hart_copy[list(goalie_avg.columns)]

In [109]:
nhl_goalie_relative_dfs=[]
for i in goalie_avg.season:
    df_to_add = find_relative_metrics(i,goalie_avg,goalie_hart_copy,'season')
    nhl_goalie_relative_dfs.append(df_to_add)

In [110]:
hart_relative_goalies=pd.concat(nhl_goalie_relative_dfs)

In [111]:
for col in ['name', 'age', 'team','season']:
    hart_relative_goalies[col]=hart_df_goalie[col]

In [112]:
hart_relative_skaters.reset_index(inplace=True)
nba_relative_teams.reset_index(inplace=True)
hart_relative_goalies.reset_index(inplace=True)

In [113]:
hart_relative_skaters

,index,season,age,gp,goals,assists,points,plusmin,plm,goals_ev,...,faceoff_losses,block,faceoff_pct,shot_pct,gpg,ppg,toi_avg,name,team,pos
0,0,1924,27,1.194915,2.396078,2.978873,2.604534,NaN,2.364072,NaN,...,NaN,NaN,NaN,NaN,2.456697,2.635444,NaN,Georges Boucher*,OTS,D
1,1,1924,31,1.251816,1.658824,1.654930,1.657431,NaN,2.701796,NaN,...,NaN,NaN,NaN,NaN,1.623481,1.600869,NaN,Punch Broadbent*,OTS,RW
2,2,1924,23,1.024213,0.921569,1.323944,1.065491,NaN,0.562874,NaN,...,NaN,NaN,NaN,NaN,1.102364,1.257825,NaN,Earl Campbell,OTS,F
3,3,1924,20,1.365617,1.474510,3.309859,2.130982,NaN,1.013174,NaN,...,NaN,NaN,NaN,NaN,1.322837,1.886738,NaN,King Clancy*,OTS,D
4,4,1924,33,1.024213,0.368627,0.000000,0.236776,NaN,0.112575,NaN,...,NaN,NaN,NaN,NaN,0.440946,0.279517,NaN,Jack Darragh*,OTS,RW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2291,2291,2019,22,1.564288,4.902468,3.630835,4.105403,-52.948052,1.243225,3.236815,...,5.085205,1.074318,1.901867,2.729530,3.822751,3.253154,1.258133,Brayden Point,TBL,C
2292,2292,2019,28,0.732641,0.239145,0.427157,0.356992,-7.844156,0.710414,0.308268,...,0.000000,0.749524,0.000000,0.605506,0.398151,0.603993,1.036779,Jan Rutta,TBL,D
2293,2293,2019,20,1.485084,0.717434,1.851014,1.427966,-23.532468,1.243225,0.924804,...,0.012079,2.323525,1.871916,0.596045,0.589263,1.191880,1.191380,Mikhail Sergachev,TBL,D
2294,2294,2019,28,1.623691,5.380758,3.773220,4.373147,-7.844156,1.642833,3.699217,...,5.399256,0.999366,1.987975,2.445311,4.042201,3.338537,1.216968,Steven Stamkos,TBL,C
2295,2295,2019,32,0.930652,0.239145,1.067893,0.758607,-23.532468,0.355207,0.308268,...,0.000000,1.773874,0.000000,0.446162,0.313438,1.010404,1.365029,Anton Stralman,TBL,D

In [116]:
#hart_relative_skaters.to_csv('relative_skater_hart_teams.csv')
#nba_relative_teams.to_csv('relative_mvp_teams.csv')
#hart_relative_goalies.to_csv('relative_goalie_hart_teams.csv')

In [117]:
#####
all_goalie_data = goalies.copy()
all_goalie_data=all_goalie_data[list(goalie_avg.columns)]

In [118]:
####
nhl_all_goalie_relative_dfs=[]
for i in goalie_avg.season:
    df_to_add4 = find_relative_metrics(i,goalie_avg,all_goalie_data,'season')
    nhl_all_goalie_relative_dfs.append(df_to_add4)

In [119]:
####
all_relative_goalie_df=pd.concat(nhl_all_goalie_relative_dfs)

In [120]:
####
for col in ['name', 'age', 'team','season']:
    all_relative_goalie_df[col]=goalies[col]

In [121]:
all_relative_goalie_df

,season,Unnamed: 0,age,gp,gs,wins,losses,ties,goals_against,shots,...,really_bad_starts,ga_pct_minus,gs_above_avg,goals_scored,assists,points,plm,mpg,name,team
0,1918,0.000000,25,1.913043,NaN,1.588235,2.294118,NaN,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.081585,Clint Benedict*,OTS
1,1918,0.400000,28,0.347826,NaN,0.352941,0.352941,NaN,0.403509,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.978842,Art Brooks,TRA
2,1918,0.800000,23,0.173913,NaN,0.176471,0.000000,NaN,0.175439,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.711885,Sammy Hebert,TRA
3,1918,1.200000,29,1.391304,NaN,1.588235,1.235294,NaN,1.333333,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.073381,Hap Holmes*,TRA
4,1918,1.600000,36,0.347826,NaN,0.176471,0.529412,NaN,0.614035,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.067828,Bert Lindsay,MTW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4274,2019,1.009924,31,1.196691,1.170732,0.804878,1.581000,1.029520,1.401032,1.165730,...,2.296296,1.651865,-27.765306,NaN,1.409091,1.409091,0.000000,1.014964,Cam Talbot,PHI
4275,2019,1.010161,25,1.265074,1.243902,1.097561,1.302000,1.715867,1.414005,1.339946,...,1.377778,1.459147,-8.739796,NaN,1.409091,1.409091,0.000000,1.058837,Linus Ullmark,BUF
4276,2019,1.010397,30,1.675368,1.792683,1.463415,1.767000,3.088561,1.764263,1.749180,...,2.066667,1.390320,-1.775510,NaN,0.000000,0.000000,1.631579,1.079861,Semyon Varlamov,COL
4277,2019,1.010633,24,1.812132,1.939024,2.853659,0.930000,1.372694,1.660483,2.002904,...,1.607407,1.142540,40.408163,NaN,4.227273,4.227273,4.894737,1.126716,Andrei Vasilevskiy,TBL
4278,2019,1.010870,34,1.128309,1.060976,1.170732,1.116000,1.372694,1.491840,1.301362,...,1.148148,1.583037,-22.469388,NaN,1.409091,1.409091,3.263158,1.062919,Cam Ward,CHI

In [123]:
#all_relative_goalie_df.to_csv('relative_goalies_all.csv')