In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [2]:
goalies=pd.read_csv('goalie_data.csv')
skater=pd.read_csv('skater_data.csv')
nba=pd.read_csv('combine_nba_data.csv')

In [3]:
hart = pd.read_csv('hart_trophy_winners.csv')
mvp = pd.read_csv('nba_mvps.csv')

In [4]:
hart.head()

   Unnamed: 0           Player Team  Season
0           0  Nikita Kucherov  TBL    2019
1           1      Taylor Hall  NJD    2018
2           2   Connor McDavid  EDM    2017
3           3     Patrick Kane  CHI    2016
4           4      Carey Price  MTL    2015

In [5]:
hart_dict = {}
for i in range(len(hart)):
    hart_dict[hart.Player[i]]=(hart.Team[i],hart.Season[i])

In [6]:
hart_teams = {}
for i in range(len(hart)):
    hart_teams[hart.Player[i]]=(hart.Team[i])

In [7]:
hart_years = {}
for i in range(len(hart)):
    hart_years[hart.Player[i]]=(hart.Season[i])

In [8]:
hart_df=pd.DataFrame(columns=skater.columns)

In [9]:
hart_df.head()

Empty DataFrame
Columns: [Unnamed: 0, name, age, team, pos, gp, goals, assists, points, plusmin, plm, goals_ev, goals_pp, goals_sh, goals_gw, assists_ev, assists_pp, assists_sh, shots, toi, toi_avg, hits, faceoff_wins, faceoff_losses, block, faceoff_pct, season, shot_pct, gpg]
Index: []

[0 rows x 29 columns]

In [12]:
skater.reset_index(inplace=True)

In [13]:
skater.head()

,index,Unnamed: 0,name,age,team,pos,gp,goals,assists,points,...,toi,toi_avg,hits,faceoff_wins,faceoff_losses,block,faceoff_pct,season,shot_pct,gpg
0,0,0,Justin Abdelkader,31.0,DET,LW,71,6,13,19,...,1093,924,185.0,52.0,51.0,34.0,0.505,2019,0.06315789473684211,0.084507
1,1,1,Pontus Aberg,25.0,MIN,LW,59,12,13,25,...,861,876,45.0,2.0,17.0,11.0,0.105,2019,0.1188118811881188,0.203390
2,2,2,Vitaly Abramov,20.0,OTT,RW,1,0,0,0,...,14,832,0.0,0.0,0.0,1.0,NaN,2019,NaN,0.000000
3,3,3,Noel Acciari,27.0,BOS,C,72,6,8,14,...,935,779,221.0,200.0,203.0,36.0,0.496,2019,0.06060606060606061,0.083333
4,4,4,Kenny Agostino,26.0,NJD,LW,63,6,18,24,...,814,775,143.0,15.0,27.0,14.0,0.357,2019,0.0759493670886076,0.095238

In [14]:
skater.drop(['index','Unnamed: 0'],axis=1,inplace=True)

In [16]:
skater.index

RangeIndex(start=0, stop=30729, step=1)